@import "toastr";
@font-face {
  font-family: 'source_sans_proregular';
  src: url('../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
  url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
  url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@mixin bg-after($posleft, $postop, $width, $height, $left, $top) {
  content: "";
  position: absolute;
  left:$left;
  top:$top;
  background: url("../images/sprite.png") no-repeat $posleft $postop;
  width: $width;
  height: $height;
}
@mixin apply-font($fsize, $lineHeight){
  font-size: $fsize;
  line-height: $lineHeight;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #c3c3c3;
  text-decoration: none;
}
.contract-cont .input-inner input.has-error, .contract-cont .input-inner select.has-error {border: 1px solid red;}
body {
  min-width: 320px;
  font: 22px/27px 'source_sans_proregular';
  color: #a6a4a4;
  background: url("../images/bg-body.png");
}
header {
  background: #4fb8d5;
  padding: 10px 0;
}
#wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
.container{
  max-width: 1000px;
  overflow: hidden;
  margin: 0 auto;
}
.logo {
  float: left;
  width: 70px;
}
.main-menu {
  float: right;
  width: 57%;
  padding: 20px 0 0;
}
.main-menu ul {
  overflow: hidden;
  list-style: none;
  text-align: right;
  @include apply-font(22px, 27px);
}
.main-menu ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 25px;
}
.main-menu ul li:first-child {margin: 0;}
.main-menu ul li a {
  padding: 5px 12px;
  border: 1px solid #4fb8d5;
  border-radius: 5px;
  color: #fff;
  display: block;
}
.main-menu ul li a.active, .main-menu ul li:hover a {border-color: #fff;}
.open-close .opener {
  background: url("../images/opener.png") no-repeat scroll 50% 0;
  color: #729dc1;
  display: none;
  float: right;
  height: 18px;
  margin: 10px 20px 0 0;
  padding: 28px 0 0;
  text-align: center;
  text-decoration: none;
}
.open-close ul.navigation.js-slide-hidden {
  display: block;
  left: 0;
  position: static !important;
  top: 0;
}
#main {
  background: url("../images/bg-main.png") no-repeat;
  overflow: hidden;
  padding: 20px 0 0;
  min-height: 1271px;
}
#main .heading {
  text-align: center;
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}
#main .text {
  display: block;
  text-align: center;
  margin: 0 auto 20px;
  max-width: 70%;
}
.login-cont {
  overflow: hidden;
  max-width: 44%;
  margin: 0 auto;
  border-radius: 8px;
  background: #fff;
  .head {
    background: #4fb8d5;
    padding: 15px 10px 17px;
    overflow: hidden;
    color: #fff;
    .sign-in {
      float: left;
      width: 30%;
      position: relative;
      padding: 0 0 0 55px;
      &:after {
        @include bg-after(-385px, -213px, 40px, 40px, 11px, -4px)
      }
    }
    .create-account {
      float: right;
      width: 55%;
      text-align: right;
      font-size: 15px;
      line-height: 21px;
      @include apply-font(16px, 21px);
      color: #fff;
      padding: 6px 0 0;
    }
  }
  .login-form {
    overflow: hidden;
    padding: 56px 25px 25px;
    .input-wrap {
      overflow: hidden;
      margin: 0 0 27px;
      background: #e8e8e8;
      border-radius: 5px;
    }
    label {
      float: left;
      width: 37%;
      height: 44px;
      background: #4fb8d5;
      color: #fff;
      font-size: 18px;
      line-height: 23px;
      position: relative;
      padding: 10px 10px 10px 43px;
      &:after {
        @include bg-after(-346px, -219px, 24px, 24px, 10px, 8px)
      }
    }
    input[type=email], input[type=password]{
      height: 44px;
      float: left;
      background: #e8e8e8;
      border: none;
      width: 63%;
      padding: 0 10px;
      font-size: 18px;
      line-height: 23px;
    }
    label[for=password]:after{background-position: -295px -217px; }
  }
  .forgot-pass {
    color: #4fb8d5;
    float: left;
    width: 50%;
    padding: 10px 0 0;
    @include apply-font(16px, 20px);
  }
  .btn-submit {
    float: right;
    width: 30%;
    background: #4fb8d5;
    color: #fff;
    @include apply-font(19px, 24px);
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .register-form {
    overflow: hidden;
    padding: 20px;
    label {
      display: block;
      margin: 0 0 5px;
      color: #606060;
      @include apply-font(18px, 23px);
    }
    .input-wrap {
      margin: 0 0 20px;
    }
    .input-inner {
      background: #e8e8e8;
      height: 43px;
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
    }
    .icon {
      float: left;
      width:61px;
      text-indent: 9999px;
      overflow: hidden;
      height: 43px;
      position: relative;
      background: #4fb8d5;
      &:after {
        @include bg-after(-345px, -218px, 27px, 27px, 18px, 7px);
      }
    }
    input[type=email], input[type=text], input[type=password]{
      border: none;
      height: 43px;
      background: #e8e8e8;
      width: 80%;
      float: left;
      padding: 0 10px;
      @include apply-font(18px, 23px);
    }
    .btn-submit {
      width: 100%;
      font-size: 24px;
      line-height: 29px;
    }
  }
  .account-link {
    display: block;
    text-align: center;
    @include apply-font(15px, 20px);
    color:#4fb8d5;
    margin: 0 0 20px;
  }
}
.contract-cont {
  overflow: hidden;
  background: #d8e8ec;
  padding: 10px 10px 20px;
  position: relative;
  #accordion {margin: 0 0 30px;}
  .acc-head {
    position: relative;
    cursor: pointer;
    padding: 20px;
    color: #4fb8d5;
    background: #f6f9fa;
    border-radius: 5px;
    margin: 15px 0 3px;
    span:first-child {
      margin: 0 20px 0 0;
      float: left;
      width: 46%;
    }
    span:nth-child(2) {
      font-size: 25px;
      font-weight: normal;
    }
    .sub-text {
      display: block;
      font-size: 22px;
      line-height: 27px;
      color: #515151;
      font-weight: normal;
    }
    .icon-arrow {
      position: absolute;
      right: 50px;
      top:15%;
      width: 26px;
      height:46px;
      background: url("../images/sprite.png") no-repeat -68px -388px;
      text-indent: -9999px;
      overflow: hidden;
    }
  }
  .acc-head.active .icon-arrow{
    background: url("../images/sprite.png") no-repeat -1px -408px;
    width: 46px;
    height:26px;
    top: 35%;
  }
  .acc-head.inner {
    padding: 20px 50px 20px 80px;
    margin: 0 0 5px;
    background: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    color: #999;
    @include apply-font(20px, 25px);
    .icon-arrow {
      background-position: -70px -342px;
      right: 100px;
      width: 18px;
      top: 26%;
      height: 30px;
    }
  }
  .acc-head.inner.active .icon-arrow {
    background-position: -1px -348px;
    width: 33px;
    height: 18px;
    top: 40%;
  }
  .acc-content.inner {padding: 30px 0;}
  .acc-content {
    background: #fafcfd;
    border-radius: 5px;
    padding: 20px;
    .upload-file {
      padding: 10px 20px;
      border-radius: 5px;
      margin: 20px 50px 0 0;
      border: none;
      cursor: pointer;
      background: #09f;
      color: #fff;
      font-weight: bold;
    }
  }
  .label-area {
    text-align: center;
    padding: 30px 0 0;
    .label-custom {
      display: inline-block;
      vertical-align: middle;
      margin: 0 20px;
    }
  }
  .max-allowed {
    display: block;
    color: #ac2925;
    margin: 0 0 20px;
    text-align: center;
  }
  .landlord-individual, .landlord-company {
    overflow: hidden;
    margin: 0 0 30px;
    list-style: none;
    li {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      margin: 0 0 10px;
      span {
        float: left;
        width: 50%;
      }
    }
  }
  .add-other {
    display: block;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    background: #0099ff;
    color: #fff;
    text-align: center;
    margin: 20px auto 0;
    border:none;
    font-weight: bold;
    cursor: pointer;
    @include apply-font(18px, 23px);
  }
  .form1, .form2, .form3, .form4, .form5, .form6, .form7, .form8 {
    max-width: 50%;
    margin: 0 auto;
  }
  .input-inner {
    overflow: hidden;
    margin: 0 0 10px;
  }
  .input-inner label {
    display: block;
    overflow: hidden;
    @include apply-font(16px, 21px);
    color: #606060;
    span:first-child {
      float: left;
      width: 50%;
    }
    span:last-child {
      float: right;
      width: 50%;
      text-align: right;
    }
  }
  .input-inner input, .input-inner select, .input-inner textarea{
    border: none;
    width: 100%;
    background: #e8e8e8;
    padding: 10px;
    border-radius: 3px;
    @include apply-font(16px, 21px);
  }
  textarea {
    resize: none;
    font-family: inherit;
  }
  .language-list {
    list-style: none;
    overflow: hidden;
    text-align: center;
    margin: 0 0 20px;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 30px;
    }
  }
  .terms-conditions {
    overflow: hidden;
    color: #515151;
    h2 {
      background: #7dc7df;
      padding:15px 20px;
      color: #fff;
      margin: 0 0 20px;
      @include apply-font(29px, 34px);
    }
    .terms-list {
      list-style: none;
      li {
        -webkit-box-shadow: 0 0 3px 0 #d1d1d1;
        box-shadow: 0 0 3px 0 #d1d1d1;
        margin: 0 0 20px;
        padding: 20px 30px;
      }
      .tc-labels {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: 4%;
        //input[type=checkbox] { display:none; } /* to hide the checkbox itself */
        //input[type=checkbox] + label:before {
        //  font-family: FontAwesome;
        //  display: inline-block;
        //}
        //
        //input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
        //input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
        //
        //input[type=checkbox]:checked + label:before { content: "\f046";color:turquoise; } /* checked icon */
        //input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
      }
      .lang-terms {
        display: inline-block;
        vertical-align: middle;
        width: 90%;
        padding: 0 0 0 20px;
      }
      .term-inner {
        display: block;
        margin: 20px 0 0;
        &:first-child {margin: 0;}
      }
    }
    .sub-heading {
      text-align: center;
      margin: 0 0 20px;
      color: #7dc7df;
    }
    .icon-tick {
      display: inline-block;
      vertical-align: middle;
      width: 38px;
      height: 35px;
      background: url("../images/sprite.png") no-repeat -1px -266px;
      text-indent: -9999px;
      overflow: hidden;
    }
    .btn-save {
      float: right;
      margin: 0 50px 0 0;
    }
  }
  .docs-list {
    overflow: hidden;
    list-style: none;
    margin: 0 0 20px;
    li {
      overflow: hidden;
      padding: 20px 30px;
      border-bottom: 3px solid #cdcdcc;
    }
    .doc-thumb {
      float: left;
      width: 15%;
    }
    .doc-details {
      float: left;
      width: 70%;
      padding: 0 0 0 30px;
      .title {
        @include apply-font(20px, 25px);
        display: block;
        color: #4fb8d5;
        margin: 0 0 8px;
        font-weight: normal;
      }
      span {
        display: block;
        font-size: 14px;
        line-height: 18px;
        margin: 5px 0 0;
      }
    }
    .icon-tick {
      margin: 30px 20px 0 0;
      float: right;
      width: 38px;
      height: 35px;
      background: url("../images/sprite.png") no-repeat -1px -266px;
      text-indent: -9999px;
      overflow: hidden;
      display: none;
    }
  }
  .btn-clear, .btn-save {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background: #ff6a56 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 23px;
    line-height: 28px;
    padding: 10px 30px;
    margin: 0 30px 0 0;
  }
  .btn-save {background: #13bf20;}
  .btn-save:disabled {
    background: #ccc;
    cursor: default;
  }
  .final-links {
    text-align: center;
    .email-draft, .lock-finalize {
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      background: #ff6a56;
      border-radius: 8px;
      padding: 10px 20px;
      border:none;
      color: #fff;
      margin: 0 20px 0 0;
      &:disabled {
        background: #ccc;
        cursor: default;
      }
      @include apply-font(15px, 29px);
      .icon-draft, .icon-lock {
        float: left;
        background: url("../images/sprite.png") no-repeat -64px -272px;
        width: 35px;
        height: 29px;
        text-indent: 9999px;
        overflow: hidden;
        margin: 0 10px 0 0;
      }
    }
    .lock-finalize {
      background: #4fb8d5;
      .icon-lock {background-position: -291px -218px;}
    }
  }
}
.contracts-list {
  overflow: hidden;
  border-radius: 10px;
  > li {
    background: #fff;
    list-style: none;
    margin: 0 0 20px;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
  }
  ul {
    .contract-id {
      display: block;
      @include apply-font(20px, 25px);
      color:#09f;
      margin: 0 0 20px;
    }
    list-style: none;
    li {
      overflow: hidden;
      margin: 0 0 10px;
      span {
        float: left;
        width: 30%;
        text-transform: capitalize;
      }
    }
  }
  .contracts-inner {
    float: left;
    width: 80%;
  }
  .icon-lock {
    display: block;
    position: relative;
    background: url("../images/sprite.png") no-repeat -127px -279px;
    width: 20px;
    height: 26px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 auto 120px;
  }
  .contract-btns {
    float: right;
    width: 15%;
    min-height: 185px;
    position: relative;
    .btn-del {
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;
      overflow: hidden;
      border:1px solid #f57b7b;
      border-radius: 3px;
      padding: 10px;
      z-index: 9999;
      .icon-del {
        float: left;
        width: 19px;
        height: 25px;
        margin: 0 20px 0 0;
        position: relative;
        text-indent: -9999px;
        overflow: hidden;
        &:after {
          @include bg-after(-128px, -341px, 19px, 25px, 0, 0);
        }
      }
    }
  }
}
.contract-details {
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  list-style: none;
  padding: 40px;
  h2 {
    margin: 0 0 20px;
    padding: 0 0 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    span {text-transform: capitalize;}
  }
  .tenant-list, .landlord-list, .tenancy-list {
    list-style: none;
    margin: 0 0 30px;
    overflow: hidden;
    li {
      float: left;
      width: 50%;
      overflow: hidden;
      margin: 0 0 20px;
      span {
        float: left;
        width: 59%;
        @include apply-font(18px, 23px);
      }
      span:first-child {
        color: #09f;
        width: 41%;
      }
    }
  }
  .btn-edit, .btn-edit2 {
    background: #09f;
    float: right;
    margin: 20px 0 0;
    width: 100px;
    padding: 10px 0;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    @include apply-font(18px, 23px);
  }
  .btn-edit2 {
    position: absolute;
    top: 10px;
    right: 50px;
  }
}
.forgotpass-cont, .resetpass-cont {
  overflow: hidden;
  max-width: 60%;
  margin: 0 auto;
  padding: 50px 0 0;
  text-align: center;
  h3 {
    text-align: center;
    margin: 0 0 15px;
  }
  .check-email {
    display: block;
    margin: 0 0 20px;
    color: #398439;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }
  .check-email.invalid {color:#ac2925;}
  .forgotpass-form, .resetpass-form {
    overflow: hidden;
    max-width: 70%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    background: #fff;
    text-align: left;
    label {
      display: block;
      margin: 0 0 20px;
    }
    input {
      display: block;
      height: 50px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      margin: 0 0 20px;
      padding: 0 10px;
      font-size: 20px;
      line-height: 25px;
    }
    .btn-submit {
      cursor: pointer;
      color: #fff;
      background: #09f;
      width: 50%;
      border: none;
      float: right;
      font-weight: bold;
      -webkit-appearance: none;
    }
    .btn-submit:disabled {background: #ccc; cursor: default;}
  }
}
.coming-heading {margin: 0 0 50px;}
.no-record {
  overflow: hidden;
  text-align: center;
  padding: 50px 0 0;
  .no-contract {
    display: block;
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 40px;
  }
  .create-contract {
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 10px 0;
    background: #09f;
    color: #fff;
    border-radius: 5px;
  }
}
.about-cont {
  overflow: hidden;
  max-width: 60%;
  margin:  0 auto;
  padding: 15px 0 0;
  text-align: center;
  > h1, > p {
    margin: 0 0 40px;
  }
  .dubailaw-list {
    text-align: left;
    padding: 40px 20px;
    background: #fff;
    li {
      margin: 0 0 20px 30px;
      list-style: disc;
    }
  }
  h5 {
    @include apply-font(25px, 30px);
    margin: 0 0 20px;
  }
  .about-inner {
    max-width: 95%;
    margin: 0 auto 10px;
    overflow: hidden;
    background: #fff;
    text-align: left;
    padding: 20px 20px 50px;
    -webkit-box-shadow: 0 0 5px 2px #ccc;
    box-shadow: 0 0 5px 2px #ccc;
    p {margin: 0 0 20px;}
    h4 {margin: 0 0 20px;}
    .about-head {
      overflow: hidden;
      margin: 0 0 20px;
      .head-icon {
        display: inline-block;
        vertical-align: middle;
        background: url("../images/sprite.png") no-repeat -1px -1px;
        width: 85px;
        height: 85px;
        text-indent: -9999px;
        overflow: hidden;
      }
      .head-icon.save-email {background-position: -1px -103px; }
      .head-icon.mobile-users {background-position: -94px -1px;}
      h4 {
        display: inline-block;
        vertical-align: middle;
        font-size: 29px;
        line-height: 33px;
        margin: 0 0 0 30px;
        text-transform: uppercase;
      }
    }
    .misc-list {
      overflow: hidden;
      text-align: center;
      margin: 0 0 30px;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 40px 0;
      }
    }
    .store-links {
      overflow: hidden;
      text-align: center;
      li {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 165px;
        height: 56px;
        margin: 0 20px 0;
        a {
          display: block;
          text-indent: -9999px;
          overflow: hidden;
          &:after {
            @include bg-after(-98px, -163px, 165px, 55px, 0, 0);
          }
        }
      }
      li.app-store a:after {
        background-position: -95px -97px;
        width: 173px;
        height: 52px;
      }
    }
  }
}
.landlord-lists {
  overflow: hidden;
  padding: 0 30px;
  list-style: none;
  margin: 0 0 20px;
  .landlord-type {
    text-align: center;
    text-transform: capitalize;
    margin: 0 0 20px;
  }
  > li {
    border-top: 1px solid #ccc;
    padding: 20px 0 0;
    margin: 0 0 20px;
  }
  ul {
    list-style: none;
    overflow: hidden;
    > li {
      float: left;
      width: 50%;
      margin: 0 0 20px;
      span {
        float: left;
        width: 50%;
        @include apply-font(18px, 23px);
      }
      span:first-child {
        color: #09f;
        width: 40%;
      }
      img {
        display: block;
        width: 150px;
        height: 150px;
      }
    }
  }
  .images-area {
    overflow: hidden;
    img {
      display: block;
      width: 120px;
      height: 120px;
    }
    //span {
    //  display: inline-block;
    //  vertical-align: middle;
    //  width: 20%;
    //  &:first-child {
    //    color: #09f;
    //    @include apply-font(18px, 23px);
    //  }
    //}
  }
}
.outer-edit-list {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  h2 {
    @include apply-font(22px, 27px);
    margin:10px 0;
    text-align: center;
  }
  .edit-list {
    float:left;
    width: 85%;
    list-style: none;
    padding: 20px 25px 0;
    li {
      float: left;
      width: 50%;
      margin: 0 0 10px;
      span {
        float: left;
        width: 50%;
        @include apply-font(18px, 23px);
        &:first-child {
          color: #09f;
          width: 40%;
        }

      }
      img {
        display: block;
        width: 100px;
      }
    }
  }
  .user-links {
    float: right;
    width: 15%;
    padding: 0 15px 0 0;
  }
  .btn-edit, .btn-del {
    background: #09f;
    float: right;
    margin: 20px 0 0;
    width: 100px;
    padding: 10px 0;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    @include apply-font(18px, 23px);
    border: none;
  }
  .btn-del {
    background: none;
    color: #09f;
    border: 1px solid #ccc;
    .icon-del {
      float: left;
      width: 19px;
      height: 25px;
      margin: -4px 0 0 10px;
      position: relative;
      text-indent: -9999px;
      overflow: hidden;
      &:after {
        @include bg-after(-128px, -341px, 19px, 25px, 0, 0);
      }
    }
  }
}
.coupon-inner {
  max-width: 95%;
  margin: 0 auto 10px;
  overflow: hidden;
  background: #fff;
  text-align: left;
  padding: 20px 20px 50px;
  -webkit-box-shadow: 0 0 5px 2px #ccc;
  box-shadow: 0 0 5px 2px #ccc;
  .coupon-form {
    overflow:hidden;
    max-width: 50%;
    margin: 0 auto 20px;
    padding: 30px 0 0;
    label {
      display: block;
      margin: 0 0 10px;
    }
    input {
      display: block;
      border-radius: 5px;
      margin: 0 0 10px;
      height: 50px;
      width: 100%;
      @include apply-font(18px, 23px);
      border: 1px solid #ccc;
      padding: 0 10px;
    }
    .btn-discount, .btn-proceed {
      float: right;
      padding: 10px 20px;
      background: #09f;
      color:#fff;
      border-radius: 5px;
      border: none;
      font-weight: bold;
      cursor: pointer;
    }
    .btn-discount:disabled {
      background: #ccc;
      cursor: default;
    }
    .success-msg {
      display: block;
      color: #398439;
      width: 100%;
      font-size: 20px;
      text-align: center;
    }
  }
  h3 {
    text-align: center;
    margin: 0 0 20px;
  }
  .coupon-list {
    overflow: hidden;
    list-style: none;
    max-width: 50%;
    margin: 0 auto;
    li {
      overflow: hidden;
      margin: 0 0 20px;
      span {
        float: left;
        width: 50%;
      }
    }
  }
  .btn-proceed {
    float: right;
    padding: 10px 20px;
    background: #09f;
    color:#fff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
}
.social-networks {
  overflow: hidden;
  background: url("../images/bg-social.png") no-repeat;
  padding: 20px 0;
  text-align: center;
  p { margin: 0 0 30px; }
  ul {
    list-style: none;
    overflow: hidden;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 20px;
      a {
        display: block;
        background: url("../images/sprite.png") no-repeat -285px 0;
        width: 215px;
        height: 61px;
        text-indent: 9999px;
        overflow: hidden;
      }
    }
    li.facebook a{background-position: -285px -66px;}
    li.instagram a{background-position: -285px -133px;}
  }
}
.form-area {
  padding: 0 0 0 50px;
  float: left;
  width: 50%;
  input[type=text], input[type=email], textarea, input[type=submit] {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 0 0 20px;
    @include apply-font(18px, 33px);
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  textarea {
    height: auto;
    font-family: inherit;
  }
  .btn-submit {
    display: block;
    width: 50%;
    text-align: center;
    background: #3e9dd7;
    color: #fff;
    border: none;
    @include apply-font(18px, 33px);
    border-radius: 2px;
    padding: 5px 0;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .btn-submit:disabled {
    background: #ccc;
    cursor: default;
  }
}
.social-share {
  float: right;
  width: 50%;
  padding: 0 0 0 20px;
  margin: -46px 0 0;
  span {
    display: block;
    margin:  0 0 20px;
  }
}
#footer {
  overflow: hidden;
  padding: 50px 0 0;
  background: #222 url("../images/bg-footer.png") no-repeat;
  .footer-links-first, .footer-logo, .footer-links-sec {
    float: left;
    width: 26%;
    margin: 0 0 0 70px;
    list-style: none;
    li {margin: 0 0 10px; }
  }
  .footer-logo {
    .ajar-logo {
      position: relative;
      display: block;
      text-indent: -9999px;
      overflow: hidden;
      margin: 0 0 20px 30px;
      width: 90px;
      height: 88px;
      &:after {
        @include bg-after(-1px, -1px, 90px, 88px, 0, 0);
      }
    }
  }
  .footer-top {
    overflow: hidden;
    margin: 0 0 20px;
  }
  .footer-bottom {
    padding: 20px 0;
    background: #636363;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
  }
}
.error-msg, .req-input {
  display: block;
  color: darkred;
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 25px;
}
.req-input {margin: 0;}
.fields-req {
  display: block;
  text-align: right;
  margin: 0 50px 0 0;
  color: #a94442;
}
.loader, .cont-saved, .pdf-sent {
  background: url("../images/loader.gif") no-repeat;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9999;
  width:128px;
  height: 128px;
}
.loader {
  text-indent: 9999px;
  overflow: hidden;
}
.cont-saved, .pdf-sent {
  background: none;
  top: 60%;
  @include apply-font(40px, 45px);
  color: #000;
}
.pdf-sent {
  width: auto;
  height: auto;
}
.email-field {
  @include apply-font(18px, 24px);
}
@media screen and (max-width: 1023px){
  header {padding: 10px;}
  #main .text {
    max-width: 85%;
    font-size: 16px;
  }
  .contracts-list .contract-btns {width: 18%;}
  .contract-details .tenant-list li, .contract-details .landlord-list li, .contract-details .tenancy-list li {
    font-size: 18px;
    line-height: 23px;
  }
  .login-cont .head .sign-in {width: 40%;}
  .main-menu {width: 75%;}
  .login-cont {max-width: 56%;}
  .about-cont {
    max-width: 97%;
    .about-inner {max-width: 100%;}
  }
  .contracts-list ul li span {width: 35%;}
  #footer {
    .footer-links-first, .footer-logo, .footer-links-sec {margin: 0 0 0 50px;}
  }
}
@media screen and (max-width: 767px){
  .login-cont {
    max-width: 98%;
    .login-form {
      padding: 20px 0 25px;
      label {
        font-size: 13px;
        padding: 12px 10px 10px 43px;
      }
    }
  }
  .contract-cont .acc-head .icon-arrow {right: 10px; }
  .forgotpass-cont, .resetpass-cont {max-width: 98%;}
  .forgotpass-cont .forgotpass-form, .forgotpass-cont .resetpass-form, .resetpass-cont .forgotpass-form, .resetpass-cont .resetpass-form {
    max-width: 100%;
    padding: 40px 10px;
  }
  .open-close ul.navigation.js-slide-hidden {
    display: block !important;
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
  }
  .open-close .opener {
    display: block;
    float: none;
    height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 10px;
    text-indent: -9999px;
    top: 50px;
    width: 50px;
  }
  .main-menu .navigation {
    background: #fff none repeat scroll 0 0;
    position: absolute;
    right: 0;
    top: 118px;
    width: 100%;
    z-index: 9999;
    padding: 22px 0 0;
    display: none;
  }
  .main-menu ul li {
    display: block;
    width: 90%;
    margin: 0 auto 20px;
    text-align: left;
      &:first-child {margin: 0 auto 20px;}
    a {
      color: #222;
      border: none;
    }
  }
  .social-networks ul li { margin: 0 0 20px;}
  .form-area, .social-share {
    width: 100%;
    padding: 0;
    margin: 0 0 20px;
  }
  .about-cont .about-inner {
    padding: 20px 6px 50px;
    .store-links li {margin: 0 20px 10px;}
    .misc-list li {margin: 0 40px 25px;}
    .about-head h4 {
      margin: 0;
      font-size: 22px;
      width: 70%;
    }
  }
  .login-cont .register-form {padding: 20px 10px;}
  .login-cont .register-form input[type="email"], .login-cont .register-form input[type="text"], .login-cont .register-form input[type="password"] { width: 79%;}
  .contracts-list .contracts-inner, .contracts-list .contract-btns {
    float: none;
    display: block;
    width: 100%;
    min-height: 50px;
    margin: 0 0 20px;
  }
  .contracts-list .icon-lock {margin: 0;}
  .contracts-list ul li span {
    width: 50%;
    font-size: 18px;
  }
  .contract-details {
    padding: 40px 10px;
    h2 {font-size: 30px;}
    .tenant-list li, .landlord-list li, .tenancy-list li {width: 100%;}
  }
  .landlord-lists {
    padding: 0;
    ul > li {
      width: 100%;
      span {font-size: 20px;}
    }
    .images-area span {
      width: 50%;
      margin: 0 0 10px;
    }
  }
  .contract-cont .terms-conditions .terms-list li {padding: 20px 0;}
  .contract-cont .docs-list li {padding: 20px 10px;}
  .contract-cont .terms-conditions .terms-list .lang-terms {width: 85%;}
  .contract-cont .form1, .contract-cont .form2, .contract-cont .form3, .contract-cont .form4, .contract-cont .form5, .contract-cont .form6, .contract-cont .form7, .contract-cont .form8 {max-width: 90%;}
  .contract-cont .btn-clear, .contract-cont .btn-save {margin: 0 15px 0 0;}
  .contract-cont .acc-head, .contract-cont .acc-head span:nth-child(2) {font-size: 15px;}
  .contract-cont .language-list li {
    margin: 0 10px;
    font-size: 15px;
  }
  .contract-cont .final-links .email-draft, .contract-cont .final-links .lock-finalize, .contract-cont .final-links .save-contract {
    display: block;
    margin: 0 0 20px;
    width: 100%;
  }
  .contract-cont .terms-conditions .btn-save {
    float: left;
    margin: 0 0 0 20px;
  }
  .contract-cont .label-area .label-custom {margin: 0 0 0 8px;}
  .contract-cont .docs-list .doc-details {width: 85%;}
  .contract-cont .docs-list .doc-details .title {margin: 0;}
  .contract-cont .acc-content {padding: 20px 0;}
  .btn-edit2 {display: none;}
  .about-cont h1, .about-cont p {@include apply-font(18px, 23px);}
  .fields-req {
    margin: 0 auto 20px;
    text-align: center;
  }
  .outer-edit-list {
    padding: 0 0 20px;
    .edit-list {
      width: 100%;
      padding: 20px 10px;
    }
    .user-links {
      float: none;
      width: 100%;
      padding: 0 15px 18px 0;
      text-align: center;
    }
  }
  .outer-edit-list .btn-edit, .outer-edit-list .btn-del {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
  }
  .outer-edit-list .edit-list li {width: 100%;}
  .outer-edit-list .edit-list li span:first-child {width: 50%;}
  #footer {
    .footer-links-first, .footer-logo, .footer-links-sec {
      width: 83%;
      text-align: center;
      margin: 0 0 20px 20px;
    }
    .footer-bottom {font-size: 17px;}
    .footer-logo .ajar-logo {margin: 0 auto 20px;}
  }
}