<!doctype html>
<html lang="en" ng-app="ajaarApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ajaar.ae</title>
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon.png">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="css/all.css">
</head>
<body>
<div id="wrapper" ng-controller="genCtrl">
	<header id="header">
		<div class="container">
			<a ui-sref="login" class="logo"><img src="images/logo.jpg"></a>
			<nav class="main-menu open-close">
				<a href="#" class="opener">Menu</a>
				<ul class="navigation">
					<li ng-show="loggedIn"><a ui-sref="contracts" ui-sref-active="active">Contracts</a></li>
					<li><a ui-sref="newcontract" ui-sref-active="active">New Contract</a></li>
					<li><a ui-sref="history" ui-sref-active="active">History</a></li>
					<li ng-hide="loggedIn"><a ui-sref="login" ui-sref-active="active">Login</a></li>
					<li ng-hide="loggedIn"><a ui-sref="register" ui-sref-active="active">SignUp</a></li>
					<li ng-show="loggedIn"><a href="#" ng-click="logout()">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<span class="loader" ng-show="loader">loader</span>
	<div ui-view></div>
	<div class="social-networks">
		<p>Join the Ajaar. Follow us on the web.</p>
		<ul class="social-links">
			<li><a href="https://twitter.com/AjaarUAE" target="_blank">Twitter</a></li>
			<li class="facebook"><a href="https://web.facebook.com/Ajaaruae-1492908984342716/?fref=ts" target="_blank">facebook</a></li>
			<li class="instagram"><a href="https://www.instagram.com/ajaaruae/" target="_blank">instagram</a></li>
		</ul>
	</div>
	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<ul class="footer-links-first">
					<li><a ui-sref="dubailaw" ng-click="scrollTop()">Dubai Law</a></li>
					<li><a ui-sref="termsconditions" ng-click="scrollTop()">Terms &amp; Conditions</a></li>
					<li><a ui-sref="newcontract" ng-click="scrollTop()">New Contract</a></li>
				</ul>
				<div class="footer-logo">
					<span class="ajar-logo">ajaar logo</span>
					<img src="images/img5.png" alt="footer image">
				</div>
				<ul class="footer-links-sec">
					<li><a ui-sref="aboutus" ng-click="scrollTop()">About Us</a></li>
					<li><a ui-sref="contactus" ng-click="scrollTop()">Contact Us</a></li>
					<li><a ui-sref="faq" ng-click="scrollTop()">FAQ</a></li>
					<li><a ui-sref="privacypolicy" ng-click="scrollTop()">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<p class="text-center">&copy; Copyright - Ajaar. All rights reserved.</p>
			</div>
		</div>
	</footer>
</div>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="node_modules/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="node_modules/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="node_modules/angular-scroll/angular-scroll.min.js"></script>
<script type="text/javascript" src="node_modules/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="js/toaster.js"></script>
<script type="text/javascript" src="js/ng-file-upload.js"></script>
<script type="text/javascript" src="js/upload.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script src="https://sandbox.checkout.com/js/v1/checkout.js"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-71048511-1', 'auto');
	ga('send', 'pageview');
</script>
<toaster-container toaster-options="{'closeButton': true, 'debug': false, 'positionClass': 'toast-top-center', 'onclick': null, 'showDuration': '200', 'hideDuration': '1000', 'timeOut': '5000', 'extendedTimeOut': '1000', 'showEasing': 'swing', 'hideEasing': 'linear', 'showMethod': 'fadeIn', 'hideMethod': 'fadeOut' }"> </toaster-container>
</body>
</html>