<div id="main">
    <div class="about-cont">
        <h3>WHAT WE ARE</h3>
        <p>Morbi accumsan eros enim, ut fermentum ipsum congue sit amet. Nunc mattis pharetra dolor, nec blandit orci sodales ut. </p>
        <div class="about-inner">
            <div class="ajaar-ae">
                <div class="about-head">
                    <span class="head-icon">head icon</span>
                    <h4>ajaar.ae</h4>
                </div>
                <p>Mauris at risus tellus. Nulla tristique cursus quam, vel imperdiet sapien vestibulum ut. Morbi placerat lorem et gravida commodo. Fusce sit amet nibh ut sem consect etur pat eget lacinia odio. </p>
                <ul class="misc-list">
                    <li><img src="images/img2.png" align="img2"></li>
                    <li><img src="images/img3.png" align="img2"></li>
                    <li><img src="images/img4.png" align="img2"></li>
                </ul>
            </div>
            <div class="save-email">
                <div class="about-head">
                    <span class="head-icon save-email">head icon</span>
                    <h4>Save and E-mail  Contract </h4>
                </div>
                <p>Mauris at risus tellus. Nulla tristique cursus quam, vel imperdiet sapien vestibulum ut. Morbi placerat lorem et gravida commodo. Fusce sit amet nibh ut sem consect etur pat eget lacinia odio. Vivamus ullamcorper orci est, ut feugiat odio varius a. Maecenas nisi turpis.</p>
            </div>
            <div class="mobile-users">
                <div class="about-head">
                    <span class="head-icon mobile-users">head icon</span>
                    <h4>For Mobile Users</h4>
                </div>
                <p>For Mobile version Please Download</p>
                <ul class="store-links">
                    <li><a href="#">google play</a> </li>
                    <li class="app-store"><a href="#">App store</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>