<div id="main">
    <div class="about-cont">
        <span class="loader" ng-show="loader">loader</span>
        <h5>Checkout</h5>
        <div class="coupon-inner">
            <form novalidate name="couponForm" class="coupon-form">
                <label for="coupon-input">Enter Discount Coupon</label>
                <input type="text" name="coupon_value" id="coupon-input" class="coupon-input" ng-model="couponValue" required>
                <span class="error-msg" ng-show="invalidCoupon">Invalid Coupon</span>
                <span class="success-msg" ng-show="couponSuccess">You have successfully received 12% discount.</span>
                <button type="submit" ng-click="getDiscount()" class="btn-discount" ng-disabled="couponForm.$invalid">Get Discount</button><br><br>
            </form>
            <h3>Transaction Details</h3>
            <ul class="coupon-list">
                <li>
                    <span>Amount</span>
                    <span class="amount">{{amount}}</span>
                </li>
                <li>
                    <span>Currency</span>
                    <span class="currency">{{currency}}</span>
                </li>
            </ul>
            <input type="hidden" class="token" value="{{token}}">
            <button class="btn-proceed" onclick="checkoutPayment()">Proceed to checkout</button>
        </div>
    </div>
    <form method="POST" class="payment-form">
        <script>
            function checkoutPayment() {
                var $element1     = $('.amount');
                var $element2   = $('.token');
                var $element3   = $('.currency');
                var jsamount      = angular.element($element1).scope().amount;
                var jstoken       = angular.element($element2).scope().token;
                var jscurrency    = angular.element($element3).scope().currency;
                Checkout.render({
                    debugMode: true,
                    publicKey: 'pk_test_1d49c1eb-db4b-4f76-965e-5cd63aa6edb0',
                    paymentToken: jstoken,
                    customerEmail: 'user@email.com',
                    customerName: 'Demo User',
                    value: jsamount,
                    currency: jscurrency,
                    widgetContainerSelector: '.payment-form',
                    widgetColor: '#333',
                    themeColor: '#3075dd',
                    buttonColor:'#51c470',
                    logoUrl: "http://synergistics.ae/logo11.png",
                    cardCharged: function(event){
                        if(event.message == "Card charged"){
                            window.location.replace("http://ajaar.ae/beta/#/checkoutfinal");
                        }
                    }
                });
            }
        </script>
    </form>
</div>