<div id="main">
    <div class="container">
        <h1 class="heading">Contract Details</h1>
        <div class="contract-cont">
            <span class="loader" ng-show="loader">loader</span>

            <div class="contract-details" ng-repeat="contractdetail in contractDetails">
                <a href="#/contracts/{{contractdetail.contract_id}}/edit" ng-click="scrollTop()" ng-show="contractdetail.is_locked == '0'" class="btn-edit2">Edit</a>
                <h2>Tenant <span>({{contractdetail.tenant_type}})</span></h2>
                <ul class="tenant-list" ng-if="contractdetail.tenant_type == 'individual'">
                    <li><span>First Name</span><span>{{contractdetail.first_name}}</span></li>
                    <li><span>Last Name</span><span>{{contractdetail.last_name}}</span></li>
                    <li><span>Employee Name</span><span>{{contractdetail.employee_name}}</span></li>
                    <li><span>Job Position</span><span>{{contractdetail.job_position}}</span></li>
                    <li><span>Mobile#</span><span>{{contractdetail.mobile}}</span></li>
                    <li><span>Email Address</span><span class="email-field">{{contractdetail.email}}</span></li>
                    <li><span>Emirates ID No.</span><span>{{contractdetail.emirates_id}}</span></li>
                    <li><span>Nationality</span><span>{{contractdetail.nationality}}</span></li>
                    <li><span>Passport#</span><span>{{contractdetail.passport_no}}</span></li>
                </ul>
                <ul class="tenant-list" ng-if="contractdetail.tenant_type == 'company'">
                    <li><span>Company Name</span><span>{{contractdetail.company_name}}</span></li>
                    <li><span>Trade License No.</span><span>{{contractdetail.emirates_license_no}}</span></li>
                    <li><span>Est Card No.</span><span>{{contractdetail.establishment_card_no}}</span></li>
                    <li><span>Issuing Authority</span><span>{{contractdetail.issuing_authority}}</span></li>
                    <li><span>PO Box No.</span><span>{{contractdetail.po_box}}</span></li>
                    <li><span>Manager Name</span><span>{{contractdetail.manager_first_name}} {{contractdetail.manager_last_name}}</span></li>
                    <li><span>Manager ID No.</span><span>{{contractdetail.manager_emirates_id_no}}</span></li>
                    <li><span>Telephone No.</span><span>{{contractdetail.company_phone}}</span></li>
                    <li><span>Mobile No.</span><span>{{contractdetail.company_mobile}}</span></li>
                    <li><span>Email Address</span><span class="email-field">{{contractdetail.company_email}}</span></li>
                </ul>
                <h2>Landlord(s) </h2>
                <span class="no-landlord" ng-show="contractdetail.landlords == null">No Landlord Added</span>
                <div ng-repeat="landlord in contractdetail.landlords" class="landlord-lists inner">
                    <h3 class="landlord-type">{{contractdetail.landlords[$index].l_type}}</h3>
                    <ul ng-if="landlord.l_type == 'individual'">
                        <li><span>First Name</span><span>{{contractdetail.landlords[$index].l_first_name}}</span></li>
                        <li><span>Last Name</span><span>{{contractdetail.landlords[$index].l_last_name}}</span></li>
                        <li><span>Mobile#</span><span>{{contractdetail.landlords[$index].l_mobile}}</span></li>
                        <li><span>Email Address</span><span class="email-field">{{contractdetail.landlords[$index].l_email}}</span></li>
                        <li><span>Emirates ID No</span><span>{{contractdetail.landlords[$index].l_emirates_id}}</span></li>
                        <li><span>Nationality</span><span>{{contractdetail.landlords[$index].l_nationality}}</span></li>
                        <li><span>Passport#</span><span>{{contractdetail.landlords[$index].l_passport_no}}</span></li>
                    </ul>
                    <ul ng-if="landlord.l_type == 'company'">
                        <li><span>Company Name</span><span>{{contractdetail.landlords[$index].l_company_name}}</span></li>
                        <li><span>Company Mobile</span><span>{{contractdetail.landlords[$index].l_company_mobile}}</span></li>
                        <li><span>Company Phone</span><span>{{contractdetail.landlords[$index].l_company_phone}}</span></li>
                        <li><span>Manager Name</span><span>{{contractdetail.landlords[$index].l_manager_first_name}} {{contractdetail.landlords[$index].l_manager_first_name}}</span></li>
                        <li><span>Manager ID</span><span>{{contractdetail.landlords[$index].l_manager_emirates_id_no}}</span></li>
                        <li><span>PO Box</span><span>{{contractdetail.landlords[$index].l_po_box}}</span></li>
                        <li><span>Issuing Authority</span><span>{{contractdetail.landlords[$index].l_issuing_authority}}</span></li>
                    </ul>
                    <ul class="images-area" ng-if="landlord.l_type == 'individual'">
                        <li>
                            <span>ID Front</span>
                            <span><img ng-src="{{contractdetail.landlords[$index].l_emirates_front_image}}"></span>
                        </li>
                        <li>
                            <span>ID Back</span>
                            <span><img ng-src="{{contractdetail.landlords[$index].l_emirates_back_image}}"></span>
                        </li>
                    </ul>
                    <ul class="images-area" ng-if="landlord.l_type == 'company'">
                        <li>
                            <span>Company License</span>
                            <span><img ng-src="{{contractdetail.landlords[$index].l_company_license_image}}"></span>
                        </li>
                    </ul>
                </div>
                <h2>Property <span>({{contractdetail.property_type}})</span></h2>
                <ul class="tenancy-list" ng-if="contractdetail.property_type == 'apartment'">
                    <li><span>Alias</span><span>{{contractdetail.a_alias}}</span></li>
                    <li><span>Title Deed No.</span><span>{{contractdetail.a_deed_no}}</span></li>
                    <li><span>Dewa No.</span><span>{{contractdetail.a_dewa_no}}</span></li>
                    <li><span>Unit Type</span><span>{{contractdetail.a_unit_type}}</span></li>
                    <li><span>Unit No.</span><span>{{contractdetail.a_unit_no}}</span></li>
                    <li><span>Floor No.</span><span>{{contractdetail.a_floor_no}}</span></li>
                    <li><span>Building Name</span><span>{{contractdetail.a_building_name}}</span></li>
                    <li><span>Community Area</span><span>{{contractdetail.a_community_area}}</span></li>
                    <li><span>City</span><span>{{contractdetail.a_city}}</span></li>
                    <li><span>Street</span><span>{{contractdetail.a_street}}</span></li>
                    <li><span>Parking Lot No.</span><span>{{contractdetail.parking_lot_no}}</span></li>
                </ul>
                <ul class="tenancy-list" ng-if="contractdetail.property_type == 'villa'">
                    <li><span>Alias</span><span>{{contractdetail.v_alias}}</span></li>
                    <li><span>Title Deed No.</span><span>{{contractdetail.v_deed_no}}</span></li>
                    <li><span>Dewa No.</span><span>{{contractdetail.v_dewa_no}}</span></li>
                    <li><span>Unit Type</span><span>{{contractdetail.v_unit_type}}</span></li>
                    <li><span>Unit No.</span><span>{{contractdetail.v_unit_no}}</span></li>
                    <li><span>Community Area </span><span>{{contractdetail.v_community_area}}</span></li>
                    <li><span>City</span><span>{{contractdetail.v_city}}</span></li>
                    <li><span>Street</span><span>{{contractdetail.v_street}}</span></li>
                </ul>
                <h2>Tenancy Terms</h2>
                <ul class="tenancy-list">
                    <li><span>Lease Duration</span><span>{{contractdetail.lease_duration}}</span></li>
                    <li><span>Start Date</span><span>{{contractdetail.start_date}}</span></li>
                    <li><span>End Date</span><span>{{contractdetail.end_date}}</span></li>
                    <li><span>Rent Value</span><span>{{contractdetail.rent_value}}</span></li>
                    <li><span>Security Deposit</span><span>{{contractdetail.security_deposit}}</span></li>
                    <li><span>Payment Terms</span><span>{{contractdetail.payment_terms}}</span></li>
                    <li><span>No of Payments</span><span>{{contractdetail.no_of_payments}}</span></li>
                    <li><span>Amount Dates</span><span>{{contractdetail.amounts_dates}}</span></li>
                </ul>
                <h2>Terms &amp; Conditions</h2>
                <div class="terms-conditions">
                    <ul class="section-list">
                        <li ng-repeat="section in sections">
                            <h2>{{section.section}}</h2>
                            <div class="terms-fixed">
                                <!--<h3 class="sub-heading">Fixed Terms</h3>-->
                                <ul class="terms-list">
                                    <li ng-repeat="term in section.terms | filter:fixed">
                                        <span class="icon-tick">Icon Tick</span>
                                        <div class="lang-terms">
                                            <span class="term-inner">{{term.english}}</span>
                                            <span class="term-inner">{{term.arabic}}</span>
                                            <span class="term-inner" ng-show="french">{{term.french}}</span>
                                            <span class="term-inner" ng-show="urdu">{{term.urdu}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="terms-optional">
                                <!--<h3 class="sub-heading">Optional Terms</h3>-->
                                <ul class="terms-list">
                                    <li ng-repeat="term in section.terms | filter:optional">
                                        <div class="tc-labels"></div>
                                        <div class="lang-terms">
                                            <span class="term-inner">{{term.english}}</span>
                                            <span class="term-inner">{{term.arabic}}</span>
                                            <span class="term-inner" ng-show="french">{{term.french}}</span>
                                            <span class="term-inner" ng-show="urdu">{{term.urdu}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <h2>Documents</h2>
                <ul class="docs-list">
                    <li>
                        <img ng-if="contractdetail.images.deed_image != null" ng-src="{{contractdetail.images.deed_image}}" class="doc-thumb">
                        <img ng-hide="contractdetail.images.deed_image" ng-src="images/img1.jpg" class="doc-thumb">
                        <div class="doc-details">
                            <strong class="title">Title Deed / Affection plan</strong>
                        </div>
                        <span class="icon-tick">icon tick</span>
                    </li>
                    <li>
                        <img ng-if="contractdetail.images.dewa_image != null" ng-src="{{contractdetail.images.dewa_image}}" class="doc-thumb">
                        <img ng-hide="contractdetail.images.dewa_image" ng-src="images/img1.jpg" class="doc-thumb">
                        <div class="doc-details">
                            <strong class="title">DEWA Bill (First Page)</strong>
                        </div>
                        <span class="icon-tick">icon tick</span>
                    </li>
                    <li>
                        <img ng-if="contractdetail.images.emirates_front_image != null" ng-src="{{contractdetail.images.emirates_front_image}}" class="doc-thumb">
                        <img ng-hide="contractdetail.images.emirates_front_image" ng-src="images/img1.jpg" class="doc-thumb">
                        <div class="doc-details">
                            <strong class="title">Emirate ID Tenant - Front</strong>
                        </div>
                        <span class="icon-tick">icon tick</span>
                    </li>
                    <li>
                        <img ng-if="contractdetail.images.emirates_back_image != null" ng-src="{{contractdetail.images.emirates_back_image}}" class="doc-thumb">
                        <img ng-hide="contractdetail.images.emirates_back_image" ng-src="images/img1.jpg" class="doc-thumb">
                        <div class="doc-details">
                            <strong class="title">Emirate ID Tenant - Back</strong>
                        </div>
                        <span class="icon-tick">icon tick</span>
                    </li>
                    <li>
                        <img ng-if="contractdetail.images.passport_main_image != null" ng-src="{{contractdetail.images.passport_main_image}}" class="doc-thumb">
                        <img ng-hide="contractdetail.images.passport_main_image" ng-src="images/img1.jpg" class="doc-thumb">
                        <div class="doc-details">
                            <strong class="title">Passport Tenant - Main Page</strong>
                        </div>
                        <span class="icon-tick">icon tick</span>
                    </li>
                    <li>
                        <img ng-if="contractdetail.images.passport_visa_image != null" ng-src="{{contractdetail.images.passport_visa_image}}" class="doc-thumb">
                        <img ng-hide="contractdetail.images.passport_visa_image" ng-src="images/img1.jpg" class="doc-thumb">
                        <div class="doc-details">
                            <strong class="title">Passport Tenant - Visa Page</strong>
                        </div>
                        <span class="icon-tick">icon tick</span>
                    </li>
                    <li>
                        <img ng-if="contractdetail.images.company_license_image != null" ng-src="{{contractdetail.images.company_license_image}}" class="doc-thumb">
                        <img ng-hide="contractdetail.images.company_license_image" ng-src="images/img1.jpg" class="doc-thumb">
                        <div class="doc-details">
                            <strong class="title">Company Trade license (if Tenant is a Company)</strong>
                        </div>
                        <span class="icon-tick">icon tick</span>
                    </li>
                </ul>
                <div class="final-links">
                    <button type="button" class="email-draft" ng-click="genPdf()" ng-show="contractdetail.is_locked == '1'"><span class="icon-draft">button icon</span>Email Contract</button>
                    <a href="#/contracts/{{contractdetail.contract_id}}/edit" ng-click="scrollTop()" class="btn-edit" ng-show="contractdetail.is_locked == '0'">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
