<div id="main">
    <div id="fb-root"></div>
    <div class="about-cont">
        <h3 class="coming-heading">Contact Us</h3>
        <p>Morbi accumsan eros enim, ut fermentum ipsum congue sit amet. Nunc mattis pharetra dolor, nec blandit orci sodales ut. </p>
        <div class="about-inner">
            <div class="ajaar-ae">
                <h4>Contact Us</h4>
                <div class="form-area">
                    <form class="contact-form" name="contForm" novalidate>
                       <input type="text" name="name" placeholder="Full Name" ng-model="contactForm.fullName" required>
                       <span class="req-input" ng-show="contForm.name.$touced && contForm.name.$invalid">Required</span>
                       <input type="email" name="email" placeholder="Email" ng-model="contactForm.emailMode" required>
                       <span class="req-input" ng-show="contForm.email.$touced && contForm.email.$invalid">Required</span>
                       <input type="text" name="phone" placeholder="Phone" valid-number ng-model="contactForm.phone" required>
                       <span class="req-input" ng-show="contForm.phone.$touced && contForm.phone.$invalid">Required</span>
                       <textarea rows="5" placeholder="Message" name="message" ng-model="contactForm.message" required></textarea>
                        <span class="req-input" ng-show="contForm.message.$touced && message.message.$invalid">Required</span>
                       <button type="submit" class="btn-submit" ng-click="contactus()" ng-disabled="contForm.$invalid">Send</button>
                    </form>
                </div>
                <div class="social-share">
                    <span class="like-us">Like Us</span>
                    <div ng-init="FB=null" class="fb-page" data-href="https://www.facebook.com/Ajaaruae-1492908984342716" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        FB = null;
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
//            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=791815010947317";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</div>