<div id="main">
    <div class="container">
        <span class="loader" ng-show="loader">loader</span>
        <div class="no-record" ng-show="noRecord">
            <span class="no-contract">No Contract Found</span>
            <a ui-sref="newcontract" class="create-contract">Create New Contract</a>
        </div>
        <div ng-hide="noRecord">
            <h1 class="heading">Contracts List</h1>
            <div class="contract-cont">
                <ul class="contracts-list">
                    <li ng-repeat="contract in contracts | orderBy: 'contract.created_date':true">
                        <a href="#/contracts/{{contract.contract_id}}/details" class="contracts-inner">
                            <ul>
                                <span class="contract-id">Contract#:  {{contract.contract_id}}</span>
                                <li>
                                    <span>Date : </span>
                                    <span>{{contract.created_date | asDate | date:'dd-MMM-yyyy'}}</span>
                                </li>
                                <li>
                                    <span>Property : </span>
                                    <span>{{contract.property_type}}</span>
                                </li>
                                <li>
                                    <span>Tenant : </span>
                                    <span ng-if="contract.tenant_type == 'individual'">{{contract.first_name}} {{contract.last_name}} </span>
                                    <span ng-if="contract.tenant_type == 'company'">{{contract.company_name}}</span>
                                </li>
                                <li ng-if="contract.landlords[0].l_type == 'individual'">
                                    <span>Landlord : </span>
                                    <span>{{contract.landlords[0].l_first_name}} {{contract.landlords[0].l_last_name}}</span>
                                    <span>{{contract.landlords[0].l_company_name}}</span>
                                </li>
                                <li ng-if="contract.landlords[0].l_type == 'company'">
                                    <span>Landlord : </span>
                                    <span>{{contract.landlords[0].l_company_name}}</span>
                                </li>
                            </ul>
                        </a>
                        <div class="contract-btns">
                            <span class="icon-lock" ng-show="contract.is_locked == '1'">icon lock</span>
                            <span class="btn-del" ng-click="delContract(contract.contract_id)" ng-hide="contract.is_locked == '1'"><span class="icon-del">icon-del</span>Delete</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
