<div id="main">
    <div class="about-cont">
        <h1>Property ownership in Dubai</h1>
        <ul class="dubailaw-list">
            <li>The Property Law, or more correctly, Real Estate Law No.7 of 2006 was published mid 2006. Previously, foreign ownership of property was only specified in contractual arrangements between buyer and developer.</li>
            <li>UAE federal law does not allow foreign ownership of property. It does not explicitly disallow foreign property ownership either so individual emirates may allow ownership within designated areas.</li>
            <li>Dubai Land Department is the sole competent official authority for registration of property and land owners or leaseholders in Dubai as of 06 March 2006.</li>
            <li>Foreigners are able to lease or purchase property in Freehold areas in Dubai defined by the Dubai Government (detailed in Order No. 3 of 2006 published on 03 July 2006).</li>
            <li>Freehold ownership means buyer owns property outright and ownership title should be registered at the Dubai Land Department (not Dubai Lands Department).</li>
            <li>For apartment buildings, each building will be granted a single title deed. So it seems that common hold property owners do not have clear title to their property and may have to rely on a contractual arrangement with the building owner/developer. Refer article 23 of the Real Estate Law.</li>
            <li>Leasehold (long-term lease, usufruct) is given as 5 to 99 years.</li>
            <li>Residency permits are subject to the approval of the Dubai Naturalisation and Residency Department (DNRD - correct name is Department of Naturalisation and Residency, Dubai).</li>
            <li>Approval is not guaranteed - some applications have been rejected. See Dubai visas information for application conditions.</li>
            <li>Abu Dhabi emirate only allows 99 year lease, not freehold, for expatriates (as of end 2006).</li>
        </ul>
    </div>
</div>