<div id="main">
    <div class="container">
        <h1 class="heading">Edit Contract</h1>
        <div class="contract-cont">
            <span class="loader" ng-show="loader">loader</span>
                <div id="accordion">
                    <h3 class="acc-head">
                        <span>Tenant</span>
                        <span>المستأجر</span>
                        <span class="icon-arrow">icon arrow</span>
                    </h3>
                    <div class="acc-content">
                        <div class="label-area">
                            <label for="t-individual" class="label-custom">
                                <input type="radio" name="group1" id="t-individual" value="individual" ng-model="tenantType">
                                <span>Individual</span>
                                <span>فرد</span>
                            </label>
                            <label for="t-company" class="label-custom">
                                <input type="radio" name="group1" id="t-company" value="company" ng-model="tenantType">
                                <span>Company</span>
                                <span>شركة</span>
                            </label>
                        </div>
                        <div class="acc-content inner" ng-show="tenantType == 'individual'">
                            <form name="tenantInd" novalidate ng-submit="addTenant()" class="form1">
                                <div class="input-inner">
                                    <label for="t-first-name">
                                        <span>First Name</span>
                                        <span>الاسم الأول</span>
                                    </label>
                                    <input type="text" name="t_first_name" id="t-first-name" ng-model="tenantIndForm.tFirstName" required>
                                    <span class="req-input" ng-show="tenantInd.t_first_name.$touched && tenantInd.t_first_name.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-last-name">
                                        <span>Last Name</span>
                                        <span>اسم العائلة </span>
                                    </label>
                                    <input type="text" name="t_last_name" id="t-last-name" ng-model="tenantIndForm.tLastName" required>
                                    <span class="req-input" ng-show="tenantInd.t_last_name.$touched && tenantInd.t_last_name.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-employee-name">
                                        <span>Employer Name</span>
                                        <span>اسم الموظف</span>
                                    </label>
                                    <input type="text" name="t_employee_name" id="t-employee-name" ng-model="tenantIndForm.tEmployeeName" required>
                                    <span class="req-input" ng-show="tenantInd.t_employee_name.$touched && tenantInd.t_employee_name.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-job-position">
                                        <span>Job Position</span>
                                        <span>منصب عمل</span>
                                    </label>
                                    <input type="text" name="t_job_position" id="t-job-position" ng-model="tenantIndForm.tJobPosition" required>
                                    <span class="req-input" ng-show="tenantInd.t_job_position.$touched && tenantInd.t_job_position.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-mobile-number">
                                        <span>Mobile No.</span>
                                        <span>رقم الهاتف</span>
                                    </label>
                                    <input type="text" name="t_mobile_number" valid-number id="t-mobile-number" ng-model="tenantIndForm.tMobileNumber" required>
                                    <span class="req-input" ng-show="tenantInd.t_mobile_number.$touched && tenantInd.t_mobile_number.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-email-address">
                                        <span>Email Address</span>
                                        <span>عنوان البريد الإلكتروني</span>
                                    </label>
                                    <input type="email" name="t_email_address" id="t-email-address" ng-model="tenantIndForm.tEmailAddress" required>
                                    <span class="req-input" ng-show="tenantInd.t_email_address.$touched && tenantInd.t_email_address.$error.required">Required</span>
                                    <span class="req-input" ng-show="tenantCom.t_email_address.$touched && tenantCom.t_email_address.$error.email">Invalid Email</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-emirates-id">
                                        <span>Emirates ID No.</span>
                                        <span>رقم للهوية</span>
                                    </label>
                                    <input type="text" name="t_emirates_id" id="t-emirates-id" valid-number ng-model="tenantIndForm.tEmiratesId" required>
                                    <span class="req-input" ng-show="tenantInd.t_emirates_id.$touched && tenantInd.t_emirates_id.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-nationality">
                                        <span>Nationality</span>
                                        <span>الجنسية</span>
                                    </label>
                                    <select name="t_nationality" id="t-nationality"  ng-model="tenantIndForm.tNationality" required>
                                        <option value="">---Please select---</option>
                                        <option ng-repeat="country in countries | orderBy : country.country_name" value="{{country.country_name}}" >{{country.country_name}}</option>
                                    </select>
                                    <span class="req-input" ng-show="tenantInd.t_nationality.$touched && tenantInd.t_nationality.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-passport-number">
                                        <span>Passport No.</span>
                                        <span>رقم جواز السفر</span>
                                    </label>
                                    <input type="text" name="t_passport_number" id="t-passport-number" ng-model="tenantIndForm.tPassportNumber" required>
                                    <span class="req-input" ng-show="tenantInd.t_passport_number.$touched && tenantInd.t_passport_number.$invalid">Required</span>
                                </div>
                                <button type="submit" class="btn-save" ng-disabled="tenantInd.$invalid">Save</button>
                            </form>
                        </div>
                        <div class="acc-content inner" ng-show="tenantType == 'company'">
                            <form name="tenantCom" novalidate ng-submit="addTenant()" class="form2">
                                <div class="input-inner">
                                    <label for="t-company-name">
                                        <span>Company Name</span>
                                        <span>اسم الشركة</span>
                                    </label>
                                    <input type="text" name="t_company_name" id="t-company-name" ng-model="tenantComForm.tCompanyName" required>
                                    <span class="req-input" ng-show="tenantCom.t_company_name.$touched && tenantCom.t_company_name.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-emirates-license">
                                        <span>Trade License No.</span>
                                        <span>رقم الرخصة التجارية</span>
                                    </label>
                                    <input type="text" name="t_emirates_license" id="t-emirates-license" ng-model="tenantComForm.tEmiratesLicense" required>
                                    <span class="req-input" ng-show="tenantCom.t_emirates_license.$touched && tenantCom.t_emirates_license.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-est-card">
                                        <span>Establishment Card No.</span>
                                        <span>رقم بطاقة المنشاة</span>
                                    </label>
                                    <input type="text" name="t_est_card" id="t-est-card" ng-model="tenantComForm.tEstCard" required>
                                    <span class="req-input" ng-show="tenantCom.t_est_card.$touched && tenantCom.t_est_card.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-issuying-authority">
                                        <span>Issuing Authority</span>
                                        <span>الإمارة</span>
                                    </label>
                                    <input type="text" name="t_issuing_authority" id="t-issuying-authority" ng-model="tenantComForm.tIssuingAuthority" required>
                                    <span class="req-input" ng-show="tenantCom.t_issuing_authority.$touched && tenantCom.t_issuing_authority.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-po-box">
                                        <span>P.O.Box</span>
                                        <span>صندوق البريد</span>
                                    </label>
                                    <input type="text" name="t_po_box" id="t-po-box" ng-model="tenantComForm.tPoBox" required>
                                    <span class="req-input" ng-show="tenantCom.t_po_box.$touched && tenantCom.t_po_box.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-manager-fname">
                                        <span>Manager First Name</span>
                                        <span>أول اسم المدير</span>
                                    </label>
                                    <input type="text" name="t_manager_fname" id="t-manager-fname" ng-model="tenantComForm.tManagerFname" required>
                                    <span class="req-input" ng-show="tenantCom.t_manager_fname.$touched && tenantCom.t_manager_fname.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-manager-lname">
                                        <span>Manager Last Name</span>
                                        <span>اخر اسم المدير</span>
                                    </label>
                                    <input type="text" name="t_manager_lname" id="t-manager-lname" ng-model="tenantComForm.tManagerLname" required>
                                    <span class="req-input" ng-show="tenantCom.t_manager_lname.$touched && tenantCom.t_manager_lname.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-telephone-number">
                                        <span>Telephone No.</span>
                                        <span>رقم الهاتف</span>
                                    </label>
                                    <input type="text" name="t_telephone_number" id="t-telephone-number" valid-number ng-model="tenantComForm.tTelephoneNumber" required>
                                    <span class="req-input" ng-show="tenantCom.t_telephone_number.$touched && tenantCom.t_telephone_number.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-manager-mnumber">
                                        <span>Mobile No.</span>
                                        <span>رقم الجوال المحمولة</span>
                                    </label>
                                    <input type="text" name="t_manager_mnumber" id="t-manager-mnumber" valid-number ng-model="tenantComForm.tManagerMnumber" required>
                                    <span class="req-input" ng-show="tenantCom.t_manager_mnumber.$touched && tenantCom.t_manager_mnumber.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-company-email">
                                        <span>Email Address</span>
                                        <span>عنوان البريد الإلكتروني</span>
                                    </label>
                                    <input type="email" name="t_company_email" id="t-company-email" ng-model="tenantComForm.tCompanyEmail" required>
                                    <span class="req-input" ng-show="tenantCom.t_company_email.$touched && tenantCom.t_company_email.$error.required">Required</span>
                                    <span class="req-input" ng-show="tenantCom.t_company_email.$touched && tenantCom.t_company_email.$error.email">Invalid Email</span>
                                </div>
                                <div class="input-inner">
                                    <label for="t-manager-eid">
                                        <span>Manager Emirates ID No.</span>
                                        <span> رقم للهويةالمدير</span>
                                    </label>
                                    <input type="text" name="t_manager_eid" id="t-manager-eid" ng-model="tenantComForm.tManagerEid" required>
                                    <span class="req-input" ng-show="tenantCom.t_manager_eid.$touched && tenantCom.t_manager_eid.$invalid">Required</span>
                                </div>
                                <button type="submit" class="btn-save" ng-disabled="tenantCom.$invalid">Save</button>
                            </form>
                        </div>
                    </div>
                    <h3 class="acc-head">
                        <span>Landlord</span>
                        <span>المالك</span>
                        <span class="icon-arrow">icon arrow</span>
                    </h3>
                    <div class="acc-content">
                        <div ng-repeat="landlord in landlords" class="outer-edit-list">
                            <ul class="edit-list" ng-if="landlord.l_type == 'individual'">
                                <li><span>Landlord Name</span><span>{{landlord.l_first_name}} {{landlord.l_last_name}}</span></li>
                                <li><span>Mobile</span><span>{{landlord.l_mobile}}</span></li>
                                <li><span>Email</span><span>{{landlord.l_email}}</span></li>
                                <li><span>Emirates ID</span><span>{{landlord.l_emirates_id}}</span></li>
                                <li><span>Passport</span><span>{{landlord.l_passport_no}}</span></li>
                                <li><span>Nationality</span><span>{{landlord.l_nationality}}</span></li>
                                <li><span>ID Front</span><span><img ng-src="{{landlord.l_emirates_front_image}}"></span></li>
                                <li><span>ID Back</span><span><img ng-src="{{landlord.l_emirates_back_image}}"></span></li>
                            </ul>
                            <ul class="edit-list" ng-if="landlord.l_type == 'company'">
                                <li><span>Company Name</span><span>{{landlord.l_company_name}}</span></li>
                                <li><span>Mobile</span><span>{{landlord.l_company_mobile}}</span></li>
                                <li><span>Email</span><span>{{landlord.l_company_email}}</span></li>
                                <li><span>Emirates ID</span><span>{{landlord.l_emirates_license_no}}</span></li>
                                <li><span>Establishment Card#</span><span>{{landlord.l_establishment_card_no}}</span></li>
                                <li><span>Manager Name</span><span>{{landlord.l_manager_first_name}} {{landlord.l_manager_last_name}}</span></li>
                                <li><span>Company Phone</span><span>{{landlord.l_company_phone}}</span></li>
                                <li><span>Company License</span><span><img ng-src="{{landlord.l_company_license_image}}"></span></li>
                            </ul>
                            <div class="user-links">
                                <button type="button" class="btn-edit" ng-click="editlandlord(landlord.landlord_id)">Edit</button>
                                <button type="button" class="btn-del" ng-click="delLandlord(landlord.landlord_id)">
                                    <span class="icon-del"></span>Delete
                                </button>
                            </div>
                        </div>
                        <button type="button" ng-click="noLandlordFound = true;  singleLandlord = null" ng-show="addAnotherLand" class="add-other">Add Landlord</button>
                        <div class="add-landlord" ng-show="noLandlordFound">
                            <div class="form-top">
                                <div class="label-area">
                                    <label for="lfirst-individual" class="label-custom">
                                        <input type="radio" name="group2" id="lfirst-individual" value="individual" ng-model="landlordType">
                                        <span>Individual</span>
                                        <span>فرد</span>
                                    </label>
                                    <label for="lfirst-company" class="label-custom">
                                        <input type="radio" name="group2" id="lfirst-company" value="company" ng-model="landlordType">
                                        <span>Company</span>
                                        <span>شركة</span>
                                    </label>
                                </div>
                                <div class="acc-content inner" ng-show="landlordType == 'individual'">
                                    <form name="landlordInd" novalidate ng-submit="addLandlord()" class="form3">
                                        <div class="input-inner">
                                            <label for="l-first-name">
                                                <span>First Name</span>
                                                <span>الاسم الأول</span>
                                            </label>
                                            <input type="text" name="l_first_name" id="l-first-name" ng-model="landlordIndForm.lFirstName" required>
                                            <span class="req-input" ng-show="landlordInd.l_first_name.$touched && landlordInd.l_first_name.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-last-name">
                                                <span>Last Name</span>
                                                <span>اسم العائلة </span>
                                            </label>
                                            <input type="text" name="l_last_name" id="l-last-name" ng-model="landlordIndForm.lLastName" required>
                                            <span class="req-input" ng-show="landlordInd.l_last_name.$touched && landlordInd.l_last_name.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-mobile-number">
                                                <span>Mobile No.</span>
                                                <span>رقم الهاتف</span>
                                            </label>
                                            <input type="text" name="l_mobile_number" id="l-mobile-number" valid-number ng-model="landlordIndForm.lMobileNumber" required>
                                            <span class="req-input" ng-show="landlordInd.l_mobile_number.$touched && landlordInd.l_mobile_number.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-email-address">
                                                <span>Email Address</span>
                                                <span>عنوان البريد الإلكتروني</span>
                                            </label>
                                            <input type="email" name="l_email_address" id="l-email-address" ng-model="landlordIndForm.lEmailAddress" required>
                                            <span class="req-input" ng-show="landlordInd.l_email_address.$touched && landlordInd.l_email_address.$error.required">Required</span>
                                            <span class="req-input" ng-show="landlordInd.l_email_address.$touched && landlordInd.l_email_address.$error.email">Required</span>

                                        </div>
                                        <div class="input-inner">
                                            <label for="l-emirates-id">
                                                <span>Emirates ID No.</span>
                                                <span>رقم للهوية</span>
                                            </label>
                                            <input type="text" name="l_emirates_id" id="l-emirates-id" ng-model="landlordIndForm.lEmiratesId" required>
                                            <span class="req-input" ng-show="landlordInd.l_emirates_id.$touched && landlordInd.l_emirates_id.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-nationality">
                                                <span>Nationality</span>
                                                <span>الجنسية</span>
                                            </label>
                                            <select name="l_nationality" id="l-nationality"  ng-model="landlordIndForm.lNationality" required>
                                                <option value="">---Please select---</option>
                                                <option ng-repeat="country in countries | orderBy : country.country_name" value="{{country.country_name}}" >{{country.country_name}}</option>
                                            </select>
                                            <span class="req-input" ng-show="landlordInd.l_nationality.$touched && landlordInd.l_nationality.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-passport-number">
                                                <span>Passport No.</span>
                                                <span>رقم جواز السفر</span>
                                            </label>
                                            <input type="text" name="l_passport_number" id="l-passport-number" ng-model="landlordIndForm.lPassportNumber" required>
                                            <span class="req-input" ng-show="landlordInd.l_passport_number.$touched && landlordInd.l_passport_number.$invalid">Required</span>
                                        </div>
                                        <ul class="docs-list">
                                            <li>
                                                <img ng-if="singleLandlord.l_emirates_front_image != null" ng-src="{{singleLandlord.l_emirates_front_image}}" class="doc-thumb">
                                                <img ng-hide="singleLandlord.l_emirates_front_image" ng-src="images/img1.jpg" class="doc-thumb">
                                                <div class="doc-details">
                                                    <strong class="title">Emirates ID - Front </strong>
                                                    <strong class="title"> الإمارات أمام معرف</strong>
                                                    <input type="file" name="id_front" fileread="landlordIndForm.lFrontImage" required>
                                                    <span class="req-input" ng-show="landlordInd.id_front.$touched && landlordInd.id_front.$invalid">Required</span>
                                                </div>
                                                <span class="icon-tick">icon tick</span>
                                            </li>
                                            <li>
                                                <img ng-if="singleLandlord.l_emirates_back_image != null" ng-src="{{singleLandlord.l_emirates_back_image}}" class="doc-thumb">
                                                <img ng-hide="singleLandlord.l_emirates_back_image" ng-src="images/img1.jpg" class="doc-thumb">
                                                <div class="doc-details">
                                                    <strong class="title">Emirates ID - Back </strong>
                                                    <strong class="title"> هيئة الإمارات للهوية العودة</strong>
                                                    <input type="file" name="id_back" fileread="landlordIndForm.lBackImage" required>
                                                    <span class="req-input" ng-show="landlordInd.id_back.$touched && landlordInd.id_back.$invalid">Required</span>
                                                </div>
                                                <span class="icon-tick">icon tick</span>
                                            </li>
                                        </ul>
                                        <button type="submit" class="btn-save" ng-disabled="landlordInd.$invalid">Save</button>
                                    </form>
                                </div>
                                <div class="acc-content inner" ng-show="landlordType == 'company'">
                                    <form name="landlordCom" novalidate ng-submit="addLandlord()" class="form4">
                                        <div class="input-inner">
                                            <label for="l-company-name">
                                                <span>Company Name</span>
                                                <span>اسم الشركة</span>
                                            </label>
                                            <input type="text" name="l_company_name" id="l-company-name" ng-model="landlordComForm.lCompanyName" required>
                                            <span class="req-input" ng-show="landlordCom.l_company_name.$touched && landlordCom.l_company_name.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-emirates-license">
                                                <span>Trade License No.</span>
                                                <span>رقم الرخصة التجارية</span>
                                            </label>
                                            <input type="text" name="l_emirates_license" id="l-emirates-license" ng-model="landlordComForm.lEmiratesLicense" required>
                                            <span class="req-input" ng-show="landlordCom.l_emirates_license.$touched && landlordCom.l_emirates_license.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-est-card">
                                                <span>Establishment Card No.</span>
                                                <span>رقم بطاقة المنشاة</span>
                                            </label>
                                            <input type="text" name="l_est_card" id="l-est-card" ng-model="landlordComForm.lEstCard" required>
                                            <span class="req-input" ng-show="landlordCom.l_est_card.$touched && landlordCom.l_est_card.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-issuying-authority">
                                                <span>Issuing Authority</span>
                                                <span>الإمارة</span>
                                            </label>
                                            <input type="text" name="l_issuying_authority" id="l-issuying-authority" ng-model="landlordComForm.lIssuingAuthority" required>
                                            <span class="req-input" ng-show="landlordCom.l_issuying_authority.$touched && landlordCom.l_issuying_authority.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-po-box">
                                                <span>P.O.Box</span>
                                                <span>صندوق البريد</span>
                                            </label>
                                            <input type="text" name="l_po_box" id="l-po-box" ng-model="landlordComForm.lPoBox" required>
                                            <span class="req-input" ng-show="landlordCom.l_po_box.$touched && landlordCom.l_po_box.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-manager-fname">
                                                <span>Manager First Name</span>
                                                <span>أول اسم المدير</span>
                                            </label>
                                            <input type="text" name="l_manager_fname" id="l-manager-fname" ng-model="landlordComForm.lManagerFname" required>
                                            <span class="req-input" ng-show="landlordCom.l_manager_fname.$touched && landlordCom.l_manager_fname.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-manager-lname">
                                                <span>Manager Last Name</span>
                                                <span>اخر اسم المدير</span>
                                            </label>
                                            <input type="text" name="l_manager_lname" id="l-manager-lname" ng-model="landlordComForm.lManagerLname" required>
                                            <span class="req-input" ng-show="landlordCom.l_manager_lname.$touched && landlordCom.l_manager_lname.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-telephone-number">
                                                <span>Telephone No.</span>
                                                <span>رقم الهاتف</span>
                                            </label>
                                            <input type="text" name="l_telephone_number" id="l-telephone-number" valid-number ng-model="landlordComForm.lTelephoneNumber" required>
                                            <span class="req-input" ng-show="landlordCom.l_telephone_number.$touched && landlordCom.l_telephone_number.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-manager-mnumber">
                                                <span>Mobile No.</span>
                                                <span>رقم الجوال المحمولة</span>
                                            </label>
                                            <input type="text" name="l_manager_mnumber" id="l-manager-mnumber" valid-number ng-model="landlordComForm.lManagerMnumber" required>
                                            <span class="req-input" ng-show="landlordCom.l_manager_mnumber.$touched && landlordCom.l_manager_mnumber.$invalid">Required</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-company-email">
                                                <span>Email Address</span>
                                                <span>عنوان البريد الإلكتروني</span>
                                            </label>
                                            <input type="email" name="l_company_email" id="l-company-email" ng-model="landlordComForm.lCompanyEmail" required>
                                            <span class="req-input" ng-show="landlordCom.l_company_email.$touched && landlordCom.l_company_email.$error.required">Required</span>
                                            <span class="req-input" ng-show="landlordCom.l_company_email.$touched && landlordCom.l_company_email.$error.email">Invalid Email</span>
                                        </div>
                                        <div class="input-inner">
                                            <label for="l-manager-eid">
                                                <span>Manager Emirates ID No.</span>
                                                <span> رقم للهويةالمدير</span>
                                            </label>
                                            <input type="text" name="l_manager_eid" id="l-manager-eid" ng-model="landlordComForm.lManagerEid" required>
                                            <span class="req-input" ng-show="landlordCom.l_manager_eid.$touched && landlordCom.l_manager_eid.$invalid">Required</span>
                                        </div>
                                        <ul class="docs-list">
                                            <li>
                                                <img ng-if="singleLandlord.l_company_license_image != null" ng-src="{{singleLandlord.l_company_license_image}}" class="doc-thumb">
                                                <img ng-hide="singleLandlord.l_company_license_image" ng-src="images/img1.jpg" class="doc-thumb">
                                                <div class="doc-details">
                                                    <strong class="title">Company Trade License </strong>
                                                    <strong class="title">رخصة الشركة التجارية </strong>
                                                    <input type="file" name="company_license" fileread="landlordComForm.lCompanyLicenseImage" required>
                                                    <span class="req-input" ng-show="landlordCom.company_license.$touched && landlordCom.company_license.$invalid">Required</span>
                                                </div>
                                                <span class="icon-tick">icon tick</span>
                                            </li>
                                        </ul>
                                        <button type="submit" class="btn-save" ng-disabled="landlordCom.$invalid">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="acc-head">
                        <span>Property</span>
                        <span>العقار</span>
                        <span class="icon-arrow">icon arrow</span>
                    </h3>
                    <div class="acc-content">
                        <div class="label-area">
                            <label for="apartment" class="label-custom">
                                <input type="radio" name="group3" id="apartment" value="apartment" ng-model="propertyType">
                                <span>Apartment</span>
                                <span>شقة</span>
                            </label>
                            <label for="villa" class="label-custom">
                                <input type="radio" name="group3" id="villa" value="villa" ng-model="propertyType">
                                <span>Villa</span>
                                <span>منزل</span>
                            </label>
                        </div>
                        <div class="acc-content inner" ng-show="propertyType == 'apartment'">
                            <form name="propertyApa" novalidate ng-submit="addProperty()" class="form5">
                                <div class="input-inner">
                                    <label for="a-alias">
                                        <span>Alias</span>
                                        <span>الاسم المستعار</span>
                                    </label>
                                    <input type="text" name="a_alias" id="a-alias" ng-model="propertyApaForm.aAlias" required>
                                    <span class="req-input" ng-show="propertyApa.a_alias.$touched && propertyApa.a_alias.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="a-title-deed">
                                        <span>Title Deed No.</span>
                                        <span>رقم شهادة الملكية</span>
                                    </label>
                                    <input type="text" name="a_title_deed" id="a-title-deed" ng-model="propertyApaForm.aTitleDeed" required>
                                    <span class="req-input" ng-show="propertyApa.a_title_deed.$touched && propertyApa.a_title_deed.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="a-dewa-number">
                                        <span>DEWA No.</span>
                                        <span>رقم حساب الكهرباء</span>
                                    </label>
                                    <input type="text" name="a_dewa_number" id="a-dewa-number" ng-model="propertyApaForm.aDewaNumber" required>
                                    <span class="req-input" ng-show="propertyApa.a_dewa_number.$touched && propertyApa.a_dewa_number.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="a-unit-type">
                                        <span>Unit Type</span>
                                        <span>نوع المنزل</span>
                                    </label>
                                    <input type="text" name="a_unit_type" id="a-unit-type" ng-model="propertyApaForm.aUnitType" required>
                                    <span class="req-input" ng-show="propertyApa.a_unit_type.$touched && propertyApa.a_unit_type.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="a-unit-number">
                                        <span>Unit No.</span>
                                        <span>رقم المنزل</span>
                                    </label>
                                    <input type="text" name="a_unit_number" id="a-unit-number" ng-model="propertyApaForm.aUnitNumber" required>
                                    <span class="req-input" ng-show="propertyApa.a_unit_number.$touched && propertyApa.a_unit_number.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="a-floor-number">
                                        <span>Floor No.</span>
                                        <span>رقم الطابق</span>
                                    </label>
                                    <input type="text" name="a_floor_number" id="a-floor-number" ng-model="propertyApaForm.aFloorNumber" required>
                                    <span class="req-input" ng-show="propertyApa.a_floor_number.$touched && propertyApa.a_floor_number.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="a-building-name">
                                        <span>Building Name</span>
                                        <span>اسم المبنى</span>
                                    </label>
                                    <input type="text" name="a_building_name" id="a-building-name" ng-model="propertyApaForm.aBuildingName" required>
                                    <span class="req-input" ng-show="propertyApa.a_building_name.$touched && propertyApa.a_building_name.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="a-community-area">
                                        <span>Community Area</span>
                                        <span>اسم المنطقة</span>
                                    </label>
                                    <input type="text" name="a_community_area" id="a-community-area" ng-model="propertyApaForm.aCommunityArea" required>
                                    <span class="req-input" ng-show="propertyApa.a_community_area.$touched && propertyApa.a_community_area.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="a-city">
                                        <span>City</span>
                                        <span>اسم المدينة</span>
                                    </label>
                                    <input type="text" name="a_city" id="a-city" ng-model="propertyApaForm.aCity" required>
                                    <span class="req-input" ng-show="propertyApa.a_city.$touched && propertyApa.a_city.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="a-street">
                                        <span>Street</span>
                                        <span>اسم الشارع</span>
                                    </label>
                                    <input type="text" name="a_street" id="a-street" ng-model="propertyApaForm.aStreet" required>
                                    <span class="req-input" ng-show="propertyApa.a_street.$touched && propertyApa.a_street.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="a-parking-lot">
                                        <span>Parking Lot No.</span>
                                        <span>رقم المواقف</span>
                                    </label>
                                    <input type="text" name="a_parking_lot" id="a-parking-lot" ng-model="propertyApaForm.aParkingLot" required>
                                    <span class="req-input" ng-show="propertyApa.a_parking_lot.$touched && propertyApa.a_parking_lot.$invalid">Required</span>
                                </div>
                                <button type="submit" class="btn-save" ng-disabled="propertyApa.$invalid">Save</button>
                            </form>
                        </div>
                        <div class="acc-content inner" ng-show="propertyType == 'villa'">
                            <form name="propertyVil" novalidate ng-submit="addProperty()" class="form6">
                                <div class="input-inner">
                                    <label for="v-alias">
                                        <span>Alias</span>
                                        <span>الاسم المستعار</span>
                                    </label>
                                    <input type="text" name="v_alias" id="v-alias" ng-model="propertyVilForm.vAlias" required>
                                    <span class="req-input" ng-show="propertyVil.v_alias.$touched && propertyVil.v_alias.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="v-title-deed">
                                        <span>Title Deed No.</span>
                                        <span>رقم شهادة الملكية</span>
                                    </label>
                                    <input type="text" name="v_title_deed" id="v-title-deed" ng-model="propertyVilForm.vTitleDeed" required>
                                    <span class="req-input" ng-show="propertyVil.v_title_deed.$touched && propertyVil.v_title_deed.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="v-dewa-number">
                                        <span>DEWA No.</span>
                                        <span>رقم حساب الكهرباء</span>
                                    </label>
                                    <input type="text" name="v_dewa_number" id="v-dewa-number" ng-model="propertyVilForm.vDewaNumber" required>
                                    <span class="req-input" ng-show="propertyVil.v_dewa_number.$touched && propertyVil.v_dewa_number.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="v-unit-type">
                                        <span>Unit Type</span>
                                        <span>نوع المنزل</span>
                                    </label>
                                    <input type="text" name="v_unit_type" id="v-unit-type" ng-model="propertyVilForm.vUnitType" required>
                                    <span class="req-input" ng-show="propertyVil.v_unit_type.$touched && propertyVil.v_unit_type.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="v-unit-number">
                                        <span>Unit No.</span>
                                        <span>رقم المنزل</span>
                                    </label>
                                    <input type="text" name="v_unit_number" id="v-unit-number" ng-model="propertyVilForm.vUnitNumber" required>
                                    <span class="req-input" ng-show="propertyVil.v_unit_number.$touched && propertyVil.v_unit_number.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="v-community-area">
                                        <span>Community Area</span>
                                        <span>اسم المنطقة</span>
                                    </label>
                                    <input type="text" name="v_community_area" id="v-community-area" ng-model="propertyVilForm.vCommunityArea" required>
                                    <span class="req-input" ng-show="propertyVil.v_community_area.$touched && propertyVil.v_community_area.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="v-city">
                                        <span>City</span>
                                        <span>اسم المدينة</span>
                                    </label>
                                    <input type="text" name="v_city" id="v-city" ng-model="propertyVilForm.vCity" required>
                                    <span class="req-input" ng-show="propertyVil.v_city.$touched && propertyVil.v_city.$invalid">Required</span>
                                </div>
                                <div class="input-inner">
                                    <label for="v-street">
                                        <span>Street</span>
                                        <span>اسم الشارع</span>
                                    </label>
                                    <input type="text" name="v_street" id="v-street" ng-model="propertyVilForm.vStreet" required>
                                    <span class="req-input" ng-show="propertyVil.v_street.$touched && propertyVil.v_street.$invalid">Required</span>
                                </div>
                                <button type="submit" class="btn-save" ng-disabled="propertyVil.$invalid">Save</button>
                            </form>
                        </div>
                    </div>
                    <h3 class="acc-head">
                        <span>Tenancy Terms</span>
                        <span>شروط الإيجار</span>
                        <span class="icon-arrow">icon arrow</span>
                    </h3>
                    <div class="acc-content inner">
                        <form name="tenancyt" novalidate ng-submit="addTenancyTerms()" class="form7">
                            <div class="input-inner">
                                <label for="lease-duration">
                                    <span>Terms of Lease</span>
                                    <span>الإيجار المدة</span>
                                </label>
                                <input type="text" name="lease_duration" id="lease-duration" ng-model="tenancytForm.leaseDuration" required>
                                <span class="req-input" ng-show="tenancyt.lease_duration.$touched && tenancyt.lease_duration.$invalid">Required</span>
                            </div>
                            <div class="input-inner">
                                <label for="start-date">
                                    <span>Start Date</span>
                                    <span>تاريخ البدء</span>
                                </label>
                                <input type="text" name="start_date" id="start-date" ng-model="tenancytForm.startDate" required>
                                <span class="req-input" ng-show="tenancyt.start_date.$touched && tenancyt.start_date.$invalid">Required</span>
                            </div>
                            <div class="input-inner">
                                <label for="end-date">
                                    <span>End Date</span>
                                    <span>تاريخ الانتهاء</span>
                                </label>
                                <input type="text" name="end_date" id="end-date" ng-model="tenancytForm.endDate" required>
                                <span class="req-input" ng-show="tenancyt.end_date.$touched && tenancyt.end_date.$invalid">Required</span>
                            </div>
                            <div class="input-inner">
                                <label for="rent-value">
                                    <span>Rent Value</span>
                                    <span>إيجار القيمة</span>
                                </label>
                                <input type="text" name="rent_value" id="rent-value" ng-model="tenancytForm.rentValue" required>
                                <span class="req-input" ng-show="tenancyt.rent_value.$touched && tenancyt.rent_value.$invalid">Required</span>
                            </div>
                            <div class="input-inner">
                                <label for="security-deposit">
                                    <span>Security Deposit</span>
                                    <span>مبلغ التأمين</span>
                                </label>
                                <input type="text" name="security_deposit" id="security-deposit" ng-model="tenancytForm.securityDeposit" required>
                                <span class="req-input" ng-show="tenancyt.security_deposit.$touched && tenancyt.security_deposit.$invalid">Required</span>
                            </div>
                            <div class="input-inner">
                                <label for="payment-terms">
                                    <span>Terms of Payment </span>
                                    <span>شروط الدفع</span>
                                </label>
                                <input type="text" name="payment_terms" id="payment-terms" ng-model="tenancytForm.paymentTerms" required>
                                <span class="req-input" ng-show="tenancyt.payment_terms.$touched && tenancyt.payment_terms.$invalid">Required</span>
                            </div>
                            <div class="input-inner">
                                <label for="number-payment">
                                    <span>No. of Payments</span>
                                    <span>عدد الدفعات</span>
                                </label>
                                <input type="text" name="number_payment" id="number-payment" ng-model="tenancytForm.numberPayment" required>
                                <span class="req-input" ng-show="tenancyt.number_payment.$touched && tenancyt.number_payment.$invalid">Required</span>
                            </div>
                            <div class="input-inner">
                                <label for="amounts-dates">
                                    <span>Amounts &amp; Dates</span>
                                    <span>المبالغ والتواريخ</span>
                                </label>
                                <textarea name="amounts_dates" rows="5" id="amounts-dates" ng-model="tenancytForm.amountsDates" required></textarea>
                                <span class="req-input" ng-show="tenancyt.amounts_dates.$touched && tenancyt.amounts_dates.$invalid">Required</span>
                            </div>
                            <button type="submit" class="btn-save" ng-disabled="tenancyt.$invalid">Save</button>
                        </form>
                    </div>
                    <h3 class="acc-head">
                        <span>Terms &amp; Conditions</span>
                        <span>الأحكام والشروط</span>
                        <span class="icon-arrow">icon arrow</span>
                    </h3>
                    <div class="acc-content inner">
                        <form name="tncForm" novalidate ng-submit="addTnc()">
                            <ul class="language-list">
                                <li ng-model="english">English</li>
                                <li ng-model="arabic">Arabic</li>
                                <li>
                                    <label for="french-lang" class="label-custom">
                                        <input type="radio" name="group4" id="french-lang" value="french" ng-model="lang.name">  French
                                    </label>
                                </li>
                                <li>
                                    <label for="urdu-lang" class="label-custom">
                                        <input type="radio" name="group4" id="urdu-lang" value="urdu" ng-model="lang.name">  Urdu
                                    </label>
                                </li>
                            </ul>
                            <div class="terms-conditions">
                                <ul class="section-list">
                                    <li ng-repeat="section in sections">
                                        <h2>{{section.section}}</h2>
                                        <div class="terms-fixed">
                                            <!--<h3 class="sub-heading">Fixed Terms</h3>-->
                                            <ul class="terms-list">
                                                <li ng-repeat="term in section.terms | filter:fixed">
                                                    <span class="icon-tick">Icon Tick</span>
                                                    <div class="lang-terms">
                                                        <span class="term-inner">{{term.english}}</span>
                                                        <span class="term-inner">{{term.arabic}}</span>
                                                        <span class="term-inner" ng-show="lang.name == 'french'">{{term.french}}</span>
                                                        <span class="term-inner" ng-show="lang.name == 'urdu'">{{term.urdu}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="terms-optional">
                                            <!--<h3 class="sub-heading">Optional Terms</h3>-->
                                            <ul class="terms-list">
                                                <li ng-repeat="term in section.terms | filter:optional">
                                                    <div class="tc-labels">
                                                        <input id="{{term.term_id}}" name="{{term.term_id}}" type="checkbox" value="{{term.term_id}}" ng-checked="selection.indexOf(term.term_id) > -1" ng-click="toggleSelection(term.term_id)" required/>
                                                        <label for="{{term.term_id}}"></label>
                                                        {{employee.name}}
                                                    </div>
                                                    <div class="lang-terms">
                                                        <span class="term-inner">{{term.english}}</span>
                                                        <span class="term-inner">{{term.arabic}}</span>
                                                        <span class="term-inner" ng-show="lang.name == 'french'">{{term.french}}</span>
                                                        <span class="term-inner" ng-show="lang.name == 'urdu'">{{term.urdu}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <button type="submit" class="btn-save">Save</button>
                            </div>
                        </form>
                    </div>
                    <h3 class="acc-head">
                        <span>Files</span>
                        <span>الوثائق</span>
                        <span class="icon-arrow">icon arrow</span>
                    </h3>
                    <div class="acc-content">
                        <form name="filesForm" novalidate>
                            <ul class="docs-list" mg-model="filePreview" ng-repeat="contdetail in contDetails">
                                <li>
                                    <img ng-if="uploadedfiles.deed_image != null" ng-src="{{uploadedfiles.deed_image}}" class="doc-thumb">
                                    <img ng-hide="uploadedfiles.deed_image" ng-src="images/img1.jpg" class="doc-thumb">
                                    <div class="doc-details">
                                        <strong class="title">Title Deed / Affection Plan</strong>
                                        <strong class="title">سند ملكية</strong>
                                        <input type="file" name="file" fileread="filesForm.titleDeed" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                        <span class="file-req">Max Size: 1 MB, File Type: jpg, png</span>
                                        <!--<button type="button" class="upload-file" ng-click="uploadFiles()">Upload</button>-->
                                    </div>
                                </li>
                                <li>
                                    <img ng-if="uploadedfiles.dewa_image != null" ng-src="{{uploadedfiles.dewa_image}}" class="doc-thumb">
                                    <img ng-hide="uploadedfiles.dewa_image" ng-src="images/img1.jpg" class="doc-thumb">
                                    <div class="doc-details">
                                        <strong class="title">DEWA Bill (First Page)</strong>
                                        <strong class="title">فاتورة كهرباء ومياه دبي</strong>
                                        <input type="file" name="dewa_bill" fileread="filesForm.dewaBill" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                        <span class="file-req">Max Size: 1 MB, File Type: jpg, png</span>
                                        <!--<button type="button" class="upload-file" ng-click="uploadFiles()">Upload</button>-->
                                    </div>
                                </li>
                                <li>
                                    <img ng-if="uploadedfiles.emirates_front_image != null" ng-src="{{uploadedfiles.emirates_front_image}}" class="doc-thumb">
                                    <img ng-hide="uploadedfiles.emirates_front_image" ng-src="images/img1.jpg" class="doc-thumb">
                                    <div class="doc-details">
                                        <strong class="title">Emirate ID Tenant - Front</strong>
                                        <strong class="title">الجبهة معرف - المستأجر</strong>
                                        <input type="file" name="tenant_id_front" fileread="filesForm.tIdFront" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                        <span class="file-req">Max Size: 1 MB, File Type: jpg, png</span>
                                        <!--<button type="button" class="upload-file" ng-click="uploadFiles()">Upload</button>-->
                                    </div>
                                </li>
                                <li>
                                    <img ng-if="uploadedfiles.emirates_back_image != null" ng-src="{{uploadedfiles.emirates_back_image}}" class="doc-thumb">
                                    <img ng-hide="uploadedfiles.emirates_back_image" ng-src="images/img1.jpg" class="doc-thumb">
                                    <div class="doc-details">
                                        <strong class="title">Emirate ID Tenant - Back</strong>
                                        <strong class="title">معرف الظهر - المستأجر</strong>
                                        <input type="file" name="tenant_id_back" fileread="filesForm.tIdBack" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                        <span class="file-req">Max Size: 1 MB, File Type: jpg, png</span>
                                        <!--<button type="button" class="upload-file" ng-click="uploadFiles()">Upload</button>-->
                                    </div>
                                </li>
                                <li>
                                    <img ng-if="uploadedfiles.passport_main_image != null" ng-src="{{uploadedfiles.passport_main_image}}" class="doc-thumb">
                                    <img ng-hide="uploadedfiles.passport_main_image" ng-src="images/img1.jpg" class="doc-thumb">
                                    <div class="doc-details">
                                        <strong class="title">Passport Tenant - Main Page</strong>
                                        <strong class="title">جواز سفر المستأجر - الصفحة الرئيسية</strong>
                                        <input type="file" name="tenant_passport_main" fileread="filesForm.tPassportMain" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                        <span class="file-req">Max Size: 1 MB, File Type: jpg, png</span>
                                        <!--<button type="button" class="upload-file" ng-click="uploadFiles()">Upload</button>-->
                                    </div>
                                </li>
                                <li>
                                    <img ng-if="uploadedfiles.passport_visa_image != null" ng-src="{{uploadedfiles.passport_visa_image}}" class="doc-thumb">
                                    <img ng-hide="uploadedfiles.passport_visa_image" ng-src="images/img1.jpg" class="doc-thumb">
                                    <div class="doc-details">
                                        <strong class="title">Passport Tenant - Visa Page</strong>
                                        <strong class="title">جواز سفر المستأجر - صفحة التأشيرة</strong>
                                        <input type="file" name="tenant_passport_visa" fileread="filesForm.tPassportVisa" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                        <span class="file-req">Max Size: 1 MB, File Type: jpg, png</span>
                                        <!--<button type="button" class="upload-file" ng-click="uploadFiles()">Upload</button>-->
                                    </div>
                                </li>
                                <li>
                                    <img ng-if="uploadedfiles.company_license_image != null" ng-src="{{uploadedfiles.company_license_image}}" class="doc-thumb">
                                    <img ng-hide="uploadedfiles.company_license_image" ng-src="images/img1.jpg" class="doc-thumb">
                                    <div class="doc-details">
                                        <strong class="title">Company Trade license (If Tenant is a Company)</strong>
                                        <strong class="title">الرخصة التجارية</strong>
                                        <input type="file" name="tenant_company_license" fileread="filesForm.tCompanyLicense" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                        <span class="file-req">Max Size: 1 MB, File Type: jpg, png</span>
                                        <!--<button type="button" class="upload-file" ng-click="uploadFiles()">Upload</button>-->
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="final-links">
                    <button type="button" class="email-draft" ng-click="genPdf()" ng-disabled="tenantInd.$invalid && tenantCom.$invalid && landlordInd.$invalid && landlordCom.$invalid && propertyApa.$invalid && propertyVil.$invalid && tenancyt.$invalid && tncForm.$invalid && filesForm.$invalid"><span class="icon-draft">button icon</span>Email Draft</button>
                    <a ui-sref="checkout" class="lock-finalize" ng-disabled="tenantInd.$invalid && tenantCom.$invalid && landlordInd.$invalid && landlordCom.$invalid && propertyApa.$invalid && propertyVil.$invalid && tenancyt.$invalid && tncForm.$invalid && filesForm.$invalid"><span class="icon-lock">button icon</span>    Lock and Finalize</a>
                </div>
            </form>
        </div>
    </div>
</div>
