<div id="main">
	<div class="forgotpass-cont">
		<h3>Forgot Password</h3>
		<span class="check-email" ng-show="emailSent">Password reset link email has been sent to your inbox.</span>

		<form name="forgotForm" class="forgotpass-form" novalidate>
			<label for="enter-email">Enter Email</label>
			<input type="email" name="email" id="enter-email" ng-model="forgotPass.email" required>
			<span class="check-email invalid" ng-show="emailNotSent">Invalid Email</span>
			<div class="error" ng-show="forgotForm.password.$invalid && forgotForm.password.$dirty">
				<p ng-show="forgotForm.password.$error.required">required</p>
			</div>
			<input type="submit" class="btn-submit" ng-click="forgotpass()" ng-disabled="forgotForm.email.$invalid" value="Send">
		</form>
	</div>
</div>
