<div id="main">
    <div class="container">
        <span class="loader" ng-show="loader">loader</span>
        <div class="no-record" ng-show="noHistory">
            <span class="no-contract">No User History Found</span>
        </div>
        <div ng-hide="noHistory">
            <h1 class="heading">User History</h1>
            <div class="contract-cont">
                <ul class="contracts-list">
                    <li ng-repeat="history in userHistory | orderBy: 'history.history_id':true">
                        <ul>
                            <span class="contract-id">Contract#:  {{history.contract_id}}</span>
                            <li>
                                <span>Checkout Date : </span>
                                <span>{{history.created_date | asDate | date:'dd-MMM-yyyy'}}</span>
                            </li>
                            <li>
                                <span>Original Price : </span>
                                <span>{{history.original_price}}</span>
                            </li>
                            <li>
                                <span>Discount : </span>
                                <span>{{(history.original_price) - (history.final_price)}}</span>
                            </li>
                            <li>
                                <span>Final Price : </span>
                                <span>{{history.final_price}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
