<div id="main">
	<span class="loader" ng-show="loader">loader</span>
	<div class="container">
		<h1 class="heading">Tenancy Contract Generator</h1>
		<span class="text">Create Tenancy Contract, Generate PDF, send Email and finalize contract.</span>
		<div class="login-cont">
			<div class="head">
				<span class="sign-in">Sign in</span>
				<a ui-sref="register" href="#" class="create-account">(or create an account)</a>
			</div>
			<form name="loginForm" novalidate ng-submit="login()" class="login-form">
				<div class="input-wrap">
					<label for="email">User Name</label>
					<input type="email" name="email" id="email" ng-model="formData.email" placeholder="Email" required>
				</div>
				<div class="error-msg" ng-show="loginForm.email.$invalid && loginForm.email.$dirty">
					<p ng-show="loginForm.email.$error.required">Email Required</p>
				</div>
				<div class="input-wrap">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" placeholder="Password" ng-model="formData.password" required>
				</div>
				<div class="error-msg" ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
					<p ng-show="loginForm.password.$error.required">Password Required</p>
				</div>
				<span class="error-msg" ng-show="invalid">Invalid Username/Password</span>
				<span class="error-msg" ng-show="verify">Please check your inbox and verify your email first.</span>
				<a ui-sref="forgotpass" class="forgot-pass">Forgot your password</a>
				<input type="submit" class="btn-submit" ng-disabled="loginForm.$invalid" value="Sign in">
			</form>
		</div>
	</div>
</div>
