<div id="main">
	<div class="container">
		<h1 class="heading">What we do</h1>
		<span class="text">Morbi accumsan eros enim, ut fermentum ipsum congue sit amet. Nunc mattis pharetra dolor, nec blandit orci sodales ut.</span>
		<div class="login-cont">
			<div class="head">
				<span class="sign-in">Registration</span>
			</div>
			<form name="regForm" novalidate ng-submit="register()" class="register-form">
				<div class="input-wrap">
					<label for="firstname">First Name</label>
					<div class="input-inner">
						<span class="icon">icon</span>
						<input type="text" name="first_name" id="firstname" ng-model="regData.firstname" required minlength="3">
					</div>
					<div ng-messages="regForm.first_name.$dirty && regForm.first_name.$error">
						<span class="error-msg" ng-message="required">First Name Required</span>
						<span class="error-msg" ng-message="minlength">Min 3 characters</span>
					</div>
				</div>
				<div class="input-wrap">
					<label for="lastname">Last Name</label>
					<div class="input-inner">
						<span class="icon lastname">icon</span>
						<input type="text" name="last_name" id="lastname" ng-model="regData.lastname" required minlength="3">
					</div>
					<div ng-messages="regForm.last_name.$dirty && regForm.last_name.$error">
						<span class="error-msg" ng-message="required">Last Name Required</span>
						<span class="error-msg" ng-message="minlength">Min 3 characters</span>
					</div>
				</div>
				<div class="input-wrap">
					<label for="password">Password</label>
					<div class="input-inner">
						<span class="icon password">icon</span>
						<input type="password" name="password" id="password" ng-model="regData.password" required minlenth="8">
					</div>
					<div ng-messages="regForm.password.$dirty && regForm.password.$error">
						<span class="error-msg" ng-message="required">Password Required</span>
						<span class="error-msg" ng-message="minlength">Min 8 characters</span>
					</div>
				</div>
				<div class="input-wrap">
					<label for="cpassword">Confirm Password</label>
					<div class="input-inner">
						<span class="icon cpassword">icon</span>
						<input type="password" name="cpassword" id="cpassword" ng-model="regData.cpassword" pw-check="password" required>
					</div>
					<div ng-messages="regForm.password.$dirty && regForm.password.$error">
						<span class="error-msg" ng-show="required">Confirm Password Required</span>
						<!--<span class="msg-error" ng-show="min">Password doesn't match. </span>-->
					</div>
				</div>
				<div class="input-wrap">
					<label for="email">Email</label>
					<div class="input-inner">
						<span class="icon email">icon</span>
						<input type="email" name="email" id="email" ng-model="regData.email" required>
					</div>
					<div ng-messages="regForm.password.$dirty && regForm.password.$error">
						<span class="error-msg" ng-message="required">Email Required</span>
						<span class="error-msg" ng-message="regForm.email.$invalid">Invalid Email Format</span>
					</div>
				</div>
				<div class="input-wrap">
					<label for="mobile">Mobile</label>
					<div class="input-inner">
						<span class="icon mobile">icon</span>
						<input type="text" name="mobile" id="mobile" ng-model="regData.mobile" required>
					</div>
					<span class="error-msg" ng-show="regForm.mobile.$dirty && regForm.mobile.$error.required">Mobile Required</span>
					<span class="error-msg" ng-show="regForm.mobile.$dirty && regForm.mobile.$invalid">Only numbers and dashes allowed</span>
				</div>
				<input type="submit" class="btn-submit" ng-disabled="regForm.$invalid" value="Submit">
			</form>
			<a href="#/login" class="account-link" ng-click="scrollTop()">( or Have an account Sign in )</a>
		</div>
	</div>
</div>
