<div id="main">
    <div class="resetpass-cont">
        <h3>Reset Password</h3>
        <form name="reset_pass_form" novalidate class="resetpass-form">
            <div class="input-wrap">
                <label for="new-pass">New Password</label>
                <input type="password" name="npassword" id="new-pass" ng-model="resetPassForm.npassword" required>
            </div>
            <div class="input-wrap">
                <label for="new-cpass">Confirm New Password</label>
                <input type="password" name="cpassword" id="new-cpass" ng-model="resetPassForm.cpassword" required>
            </div>
            <input type="submit" class="btn-submit" value="Send" ng-click="resetpass()">
        </form>
    </div>
</div>
